[2014-08-09 16:55] copelco opened #1 "Setup deployment with PostGIS"

[2014-08-11 00:22] copelco opened #4 "Create management command to import GIS data"

[2014-08-11 00:23] copelco opened #5 "Implement prototype interface"

[2014-08-12 20:54] vrocha opened #6 "geodecode address inputed in search field"
we need to find lat, lon for an address on the frontend and then make a request to the backend.
right now it doesn't matter where we make the request to, the interesting part of this is getting geodecoding the address.

[2014-08-12 20:55] vrocha opened #7 "plot marker after geodecoding address"
move map marker once I user hits the search button

[2014-08-12 21:06] vrocha opened #8 "Render API JSON onto the map"

[2014-08-12 22:51] copelco opened #9 "Model GIS data"
Think about how to model this data in the DB while thinking how it'll be accessed via the API

[2014-08-12 22:55] #5 closed, assigned to vrocha

[2014-08-12 22:58] copelco opened #10 "Attach events to map markers"

[2014-08-12 22:58] copelco opened #11 "Only show one marker at a time"

[2014-08-12 23:02] copelco opened #12 "Create GeoJSON REST API in Django"

[2014-08-12 23:04] copelco opened #13 "Serve static pages via nginx"

[2014-08-17 18:51] #13 closed, assigned to copelco

[2014-08-17 18:52] #1 closed, assigned to copelco

[2014-08-26 23:02] #7 closed, assigned to nobody

[2014-08-27 01:01] #9 closed, assigned to jcsackett

[2014-09-02 23:09] #4 closed, assigned to alexlemann

[2014-09-02 23:14] copelco opened #16 "Setup coveralls.io"

[2014-09-02 23:14] copelco opened #17 "Convert and build docs on RTD"

[2014-09-02 23:14] copelco opened #18 "Deploy production to AWS"

[2014-09-02 23:19] copelco opened #19 "Use django-leaflet in admin"

[2014-09-02 23:21] copelco opened #20 "Setup TravisCI"

[2014-09-03 00:09] #20 closed, assigned to copelco

[2014-09-03 00:09] #16 closed, assigned to copelco

[2014-09-03 00:09] copelco opened #21 "Setup landscape.io"

[2014-09-03 22:44] #12 closed, assigned to alexlemann

[2014-09-03 22:44] #19 closed, assigned to nobody

[2014-09-03 23:17] copelco opened #23 "Remove all Schools before running import management command"
This way we can rerun the command on production.

[2014-09-03 23:18] #18 closed, assigned to copelco

[2014-09-03 23:18] copelco opened #24 "Add --download option to import command"
Download the data but just save to 3 files. This way we can view data locally in qgis.

[2014-09-03 23:19] #6 closed, assigned to vrocha

[2014-09-03 23:21] copelco opened #25 "Setup requires.io"

[2014-09-09 22:05] copelco opened #27 "Write up school zone background inDone 0 fo"

[2014-09-09 23:16] copelco opened #29 "Leaflet lat/lng is swapped"

[2014-09-09 23:52] copelco opened #30 "Use Home point icon"

[2014-09-09 23:52] copelco opened #31 "Use School point icon"

[2014-09-09 23:53] #11 closed, assigned to vrocha

[2014-09-09 23:53] copelco opened #32 "Add schools to individual layers"

[2014-09-09 23:53] copelco opened #33 "Highlight schools on hover (different colors)"

[2014-09-09 23:54] copelco opened #34 "Support for CSS icons for middle, high, etc., schools"
Plus add classes for [type] and [level]

default style:

[code]

[2014-09-09 23:55] copelco opened #35 "School API doesn't return schools in districts"

[2014-09-23 22:32] jaycee opened #36 "Add color field to schools in database"
The school model should have a color field, which stores the color hex code (e.g. `#ffffff`). This should be returned via the API to the front end.

We might want to update the `loadschools` management command to assign initial colors when its run, or create a default colors fixture.

[2014-10-05 16:25] copelco opened #37 "Setup SSL cert"

[2014-11-18 23:31] #33 closed, assigned to vrocha

[2014-12-02 22:16] #8 closed, assigned to vrocha

[2014-12-02 22:30] copelco opened #40 "Option tab doesn't work"

[2014-12-02 22:31] copelco opened #41 "Map layers do not load sometimes"
Sometimes the Mapbox map doesn't load and you just see a gray screen. Usually this occurs when you first load the page.

[2014-12-02 22:31] #35 closed, assigned to nobody

[2014-12-02 22:32] #17 closed, assigned to nobody

[2014-12-02 22:36] #32 closed, assigned to nobody

[2014-12-02 22:36] #31 closed, assigned to nobody

[2014-12-02 22:36] #30 closed, assigned to nobody

[2014-12-02 22:36] #10 closed, assigned to nobody

[2014-12-02 22:41] copelco opened #42 "Django /admin/ doesn't work on production"
Static media also doesn't load.

[2014-12-02 22:58] copelco opened #43 "Clear polygons when switching tabs"
If a polygon is selected and you click a tab, it stays on the map

[2014-12-02 23:14] vrocha opened #44 "some schools don't have a level set"
[code]

For this reason, the option tab is not populating the schools in the left panel correctly.
refs #40

[2014-12-03 00:11] copelco opened #46 "Highlight district when hovering over school list"

[2014-12-03 00:28] copelco opened #47 "Set lat/lng route after search so URL query is copy/pastable"

[2014-12-03 00:37] copelco opened #48 "Add default abbreviation text for school icon"
Take first letters of first two words:
- E.K. Powe = EK
- Burton Magnet Elementary School = BM

[2014-12-03 00:39] copelco opened #50 "Add optional abbreviation field to schools"
Allow admin to specify abbreviations for schools in backend

[2014-12-06 13:42] #34 closed, assigned to vrocha

[2014-12-16 21:28] alexlemann opened #51 "Make the house point draggable"
Make it easy to explore different locations by moving the house without knowing a particular address.

[2014-12-17 00:13] #41 closed, assigned to nobody

[2014-12-17 00:14] #48 closed, assigned to vrocha

[2014-12-17 00:14] #46 closed, assigned to vrocha

[2014-12-17 00:18] #44 closed, assigned to alexlemann

[2014-12-17 00:41] copelco opened #52 "Add same CSS tags to listing"
The points now have "neighborhood" and "high". Let's add these to the list too.

[2015-01-03 22:02] copelco opened #53 "Return year-round boolean in API"
API returns type (magnet, etc.), but doesn't say whether or not it's year-round.

[2015-01-03 22:05] copelco opened #54 "Magnet/year-round schools aren't set on production"
Magnet schools should match http://www.dpsnc.net/pages/Durham_Public_Schools/Our_Schools

[2015-01-03 22:10] copelco opened #55 "Change border color of school icon if magnet/year-round"
Match badge color in listing

[2015-01-03 22:11] #42 closed

[2015-01-03 22:11] #50 closed

[2015-01-03 22:14] copelco opened #56 "Enable tooltips on badges"
The magnet and year-round badges are ready for tooltips, but opt-in JS isn't running properly.

[2015-01-03 22:20] copelco opened #57 "Magnet schools missing zones"
The magnet schools here don't have zones:

https://schools.codefordurham.com/#/location/35.9792161/-78.90905320000002/

[2015-01-03 22:32] copelco opened #59 "Return distance to each school in API"
Return distance (miles) to each school from address

[2015-01-06 02:50] victor-rocha commented on #47
this is the way it is now, right?

[2015-01-06 02:50] #47 closed

[2015-01-06 17:49] victor-rocha commented on #51
This may serve as an example: https://www.mapbox.com/mapbox.js/example/v1.0.0/select-center-form/

[2015-01-06 17:50] victor-rocha commented on #43
this one should also be completed now

[2015-01-06 21:59] #23 closed

[2015-01-06 22:26] #51 closed, assigned to nickpassarella

[2015-01-06 22:27] #43 closed, assigned to vrocha

[2015-01-06 22:29] copelco opened #61 "Polygons don't always clear on mouseexit"

[2015-01-06 22:33] copelco opened #62 "Highlight corresponding school listing row when hovering over map point"

[2015-01-06 22:35] copelco opened #63 "Return School's min/max years in API"

[2015-01-06 22:41] victor-rocha opened #64 "Make url changes more smooth"
performing a search triggers a URL change and one can notice the map flickering while it updates.

http://stackoverflow.com/questions/24264303/template-flicker-when-url-changes-in-angular

[2015-01-06 22:43] #52 closed, assigned to copelco

[2015-01-06 23:11] copelco opened #66 "Display distance to school in listing"
Now that the API returns the distance to the school, let's display it in the school listing on the left

[2015-01-06 23:35] #63 closed, assigned to nobody

[2015-01-06 23:40] copelco opened #67 "Ensure choice/priority zones are in data"

[2015-01-06 23:41] vrocha opened #68 "add app manifest file for frontend caching"
let's make the app cache as much as possible on the frontend for a speedy user experience

[2015-01-06 23:45] copelco opened #69 "Update frontend code to serve mobile interface"
Don't show map, just show listing

[2015-01-06 23:59] copelco opened #70 "Set polygon colors on frontend"

[2015-01-07 00:13] #67 closed

[2015-01-07 00:27] copelco opened #71 "Add favicon"

[2015-01-07 00:28] copelco opened #72 "Add <title> tag to page"

[2015-01-25 17:10] copelco opened #73 "School zone discrepancy"
Searching for 1823 Umstead Rd on the [official tool](http://gisweb.durhamnc.gov/durhammaps/DPS/viewer/index.html) returns these extra results that our [navigator](https://schools.codefordurham.com/#/location/36.077959/-78.947226/) doesn't show:

* Eno Valley (elementary)
* The School for Creative Studies (middle year-round)

At first glance, it appears that some of the district shapes don't match.

[2015-01-25 17:32] copelco commented on #61
I'll take a stab at this

[2015-01-25 21:00] copelco opened #74 "Add School detail inside list when selected"
* Show in list
* Collapse other headers (if Elementary, hide Middle/High sections)
* Always highlight area + point and zoom to fit
* Add "x" in top right to close detail page
* Hide other schools on map

[2015-01-25 21:00] copelco commented on #74
Use zoom technique like: map.fitBounds(map_highlights.getBounds());

[2015-01-29 17:00] gghezzo commented on #73
I have the same issue. I am at 2403 Englewood Ave and currently evaluating middle schools for my son. I know I have 8 (I think) options and the Navigator only gives me 4. Let me know if there is more I can provide to debug the issue.

[2015-01-29 17:03] gghezzo commented on #66
This would be a high priority to me as a parent. The map gives you some idea already so the details page might be the easiest place to put it.

[2015-02-10 22:58] #61 closed

[2015-02-10 23:12] copelco commented on #64
@nickpassarella can you push up your branch for @victor-rocha to review?

[2015-02-11 00:26] copelco opened #76 "Return School URL in API"

[2015-02-11 00:41] #55 closed

[2015-02-24 22:24] #76 closed

[2015-02-24 22:28] lemanal commented on #36
Is this still needed @victor-rocha ?

[2015-02-24 22:54] #72 closed

[2015-02-24 23:07] d-griffin-dev commented on #71
temporary favicon - codefordurham favicon

[2015-02-24 23:11] lemanal commented on #73
@gghezzo Could you please let me know which schools you're seeing and which ones you're expecting to see (and why for each)?

[2015-02-24 23:15] d-griffin-dev commented on #66
Distance appears to right of Assigned and Options schools.

[2015-02-24 23:15] #66 closed

[2015-03-10 21:20] victor-rocha commented on #40
this doesn't seem like an issue any more

[2015-03-10 21:21] #40 closed

[2015-03-10 21:50] #57 closed

[2015-03-10 21:57] lemanal commented on #57
The API is returning the different zones (priority, walk, districts), but so far only the neighborhood school districts are being displayed.

EG
https://schools.codefordurham.com/api/schools/detail/214/

[2015-03-10 23:04] lemanal commented on #27
Could you give an example of this, @copelco ? Do you mean a definition of the types of school zones?

[2015-03-10 23:09] lemanal opened #77 "Find additional school data sources"

[2015-03-10 23:11] lemanal commented on #71
This is deployed and working. Thanks @d-griffin-dev.

[2015-03-10 23:12] #71 closed

[2015-03-10 23:59] NoOutlet opened #78 "House icon appears southeast of location"
When entering an address, the icon to indicate the location of the house is set southeast of the actual location of the address. In edge cases, when zoomed out, houses appear outside of the district for which they are zoned.

[2015-03-24 21:44] victor-rocha opened #80 "Default map should not have an address showing by default"

[2015-03-24 21:50] jtf621 opened #81 "Automatic zooming makes it difficult to maintain situational awareness"
After entering the address. When I hover over the different assigned school, the map automatically zooms in or out to show the school zone.  This make it difficult keep track of where I am located on the map.

It would be easier to use if the map respected the level of zooming selected on the map so I can select my area of focus.

Or zoom out only, so the extent of the map stays constant.

[2015-03-24 21:59] jtf621 opened #82 "The list of school options exceeds the screen, scrolling to see the list moves the map"
When I view my option schools, the list of schools (13 schools) extends below the bottom of the screen.  Attempting to scroll the list first moves the the drop down by one or two lines without moving he map.  Further scrolling moves the entire map upwards and you loose awareness on the map.

It would be better if you could scroll the entire list without moving the map.  Or have theist collapse bas

[2015-03-24 22:04] jtf621 opened #83 "Add the school marker abbreviation to the list"
The list would be easier to use if the map marker abbreviation was added to the list

[2015-03-24 22:06] KKJett opened #84 "School Photo Field & School Description Field"

[2015-03-24 22:11] lemanal opened #85 "Add school background data"
Teacher info, school test scores, etc.

http://www.ncschoolreportcard.org/src/search.jsp?pYear=2012-2013&pList=1&pListVal=320%3ADurham+Public+Schools+++++++++++++++++++&GO2=GO

[2015-03-24 22:12] jtf621 opened #86 "Pearsontown and Club Boulevard Elementary schools do not have a polygon"
search ``100 W Club Blvd`` and view options.

Pearsontown and Club Boulevard Elementary schools do not have a polygon

[2015-03-24 23:30] jtf621 commented on #85
It looks like the data is available from www.ncpublicschools.org/src/researchers/

at http://www.ncpublicschools.org/docs/src/researchers/src-combined.zip

[2015-03-24 23:32] NoOutlet commented on #85
Found a resource using SAS which has school data, but it looks pretty locked down.
https://ncreportcards.ondemand.sas.com/landing.html

[2015-03-24 23:46] jtf621 opened #89 "Durham School of the Arts does not show as an option"

[2015-04-07 23:23] NoOutlet opened #90 "Time to leave home"
Using the start time for a school with Google Maps' estimate of travel time from the given address to the school address considering traffic at the time of the first bell, we can give a "You should be leaving the house at this time: #:##"

[2015-04-08 00:08] nickpassarella commented on #64
I know I have been looking at this forever, but I think there is an issue inherent to Angular with causing a page reload when the url changes. I've hacked together several pieces that have almost worked. I think the right path will be to format the url with latitude and longitude as a query in the url like location?lat=0000&lng=0000 instead of location/lat/long. With that, we can set reloadOnSearc

[2015-04-08 00:59] jtf621 commented on #37
When we demo this to a wider audience, this will need to have been fixed.

[2015-04-09 01:14] adamajm opened #91 "Add Charter Schools to school list"
the state approves all charter schools, so data source shd consistently come from state: http://www.ncpublicschools.org/charterschools/schools/

http://dashboard.publiccharters.org/dashboard/select/year/2014

[2015-04-13 05:00] NoOutlet commented on #85
This is sort of outside the scope of the project at the moment, but I'm pretty interested and concerned about what happened here...
http://www.ncschoolreportcard.org/src/stateDetails.jsp?Page=8&pYear=2012-2013&pDataType=1

Did Common Core play a role?
http://www.dpi.state.nc.us/core-explained/

[2015-04-16 04:02] adamajm opened #92 "Research other UIs"
Great School Specific UI from LA with data cards: http://www.ed-data.org/school/Los-Angeles/Los-Angeles-Unified/Julie-Korenstein-Elementary

[2015-04-21 03:38] adamajm commented on #85
Charters:
List/Addresses: http://www.ncpublicschools.org/charterschools/schools/
Data: http://apps.schools.nc.gov/pls/apex/f?p=1:60:0::NO::: (see left nav for the following tables)
Table 34 - Final Pupils by Year and Grade
Table 37 - Membership by Race and Sex
Table 37 - Interactive Report  (Prior to 2011)
Table 38 - Pupils Being Served by Exceptional Children Program
Table 39 - Enrollment by Year

[2015-04-21 03:39] adamajm commented on #91
Durham	32A	Maureen Joy
Durham	32B	Healthy Start
Durham	32C	Carter Community
Durham	32D	Kestrel Heights
Durham	32N	Research Triangle High School
Durham	32H	Research Triangle
Durham	32K	Central Park for Children
Durham	32L	Voyager Academy
Durham	32M	Global Scholars Academy

[2015-04-21 22:57] adamajm commented on #91
Institute of Development of Youth

[2015-04-21 23:00] #84 closed

[2015-04-21 23:01] lemanal commented on #37
Added SSL cert via startssl.

[2015-04-21 23:01] #37 closed

[2015-04-21 23:05] lemanal commented on #81
Is this ready to merge @victor-rocha ?

[2015-04-21 23:51] #91 closed

[2015-04-22 01:14] victor-rocha commented on #81
it is as long as I get a +1

[2015-04-22 19:40] sarahsba commented on #85
Greatschools.org has info on public and charter schools.  Most useful for the qualitative parent and student reviews.  Would be great if we could pull these in.

[2015-04-22 19:43] sarahsba commented on #92
Greatschools.org - like the tab function, ability to select which group you want to look at for test scores, parent reviews.

[2015-04-22 19:47] sarahsba opened #94 "Split tab view to assigned, charter, magnet"
Can we add a 3rd tab to the assigned and options for all the charter schools and change options to magnet.  Right now options is really crowded and I think people will find less useful to have charters and magnets on the same tab.

[2015-04-23 12:42] #81 closed

[2015-04-24 16:40] lemanal opened #95 "Content for pages"
* [ ] Navigating DPS [need more on Charters, proofreading]
* [ ] About

Contribute here: https://docs.google.com/document/d/1MpGr5PDVpOKHbsoDRJKI1sl9olm9Z_dZgeBIUUOaJKs/edit?usp=sharing

[2015-04-24 16:40] lemanal opened #96 "Remove School List Page"

[2015-04-24 16:54] alexlemann opened #97 "Add Photos for Each School"
Add photos to this Google Drive Folder:
https://drive.google.com/folderview?id=0BzzdkaFnyRitcGhBQ0tmdi0yenc&usp=sharing
Document source on this Checklist:
https://docs.google.com/spreadsheets/d/1h31-Cmx6YfXFc6VxhkUoHRr9qjpvGpsM22NhttgpmoE/edit?usp=sharing
Sample Image: https://durhamschoolnavigator.org/#/school/247/
@victor-rocha can you add instructions for ideal photo size?

[2015-04-24 16:55] lemanal opened #98 "Set width for school photos"

[2015-04-24 17:06] lemanal opened #99 "Sandy Ridge Is Fed By Multiple Schools"
Refs #73

Search for Eno Valley in here: http://www.dpsnc.net/files/_AaI1h_/183bf9414e39fd813745a49013852ec4/Program_Magnet_School_Lottery_FAQs_2015-16_English.pdf

[2015-04-24 17:13] lemanal commented on #54
Some types are set to None

[2015-04-24 17:15] lemanal commented on #56
"M" "YR" on school list.

[2015-04-24 17:15] #56 closed

[2015-04-24 17:15] lemanal opened #100 "Key for school list"
describe M YR.
Not sure if this is needed. needs user input

[2015-04-24 17:16] lemanal commented on #29
Fixed by a hack

[2015-04-24 17:16] #29 closed

[2015-04-24 17:17] #27 closed

[2015-05-12 22:40] lemanal commented on #36
This isn't needed on the backend. Coloring schools will be done on the frontend. CC: @victor-rocha

[2015-05-12 22:40] #36 closed

[2015-05-12 23:12] lemanal commented on #100
Informal user testing at CfD reveals: it's not intuitive at all. @NoOutlet suggested using a magnet icon. for magnet schools.

[2015-05-12 23:23] copelco commented on #86
I researched this a bit tonight. Here's what I found:

* Club Boulevard has [a walk zone](http://www.dpsnc.net/files/_AaI1h_/183bf9414e39fd813745a49013852ec4/Program_Magnet_School_Lottery_FAQs_2015-16_English.pdf). There were two instances of Club Boulevard on the production DB. I've merged them and it looks correct now.
* Pearsontown has no [assigned attendance zone](http://www.dpsnc.net/files/_A

[2015-05-13 00:00] jtf621 commented on #86
OK, this makes sense.

[2015-05-13 00:00] #86 closed

[2015-05-13 00:02] jtf621 commented on #77
Duplicate of #85 which has much more details

[2015-05-13 00:02] #77 closed

[2015-05-13 00:02] copelco opened #102 "Pearsontown inherits other schools zones"
This was discovered researching #86:

Pearsontown has no [assigned attendance zone](http://www.dpsnc.net/files/_AaI16_/adf9dc39f01a638f3745a49013852ec4/Calendar_Magnet_Year-Round_School_Lottery_FAQS_English_2015-16_Assignments.pdf). It's a union of Bethesda, Creekside, Fayetteville Street, Forest View, Hope Valley, Lakewood, Parkwood, W.G. Pearson, E.K. Powe, Y.E. Smith, Southwest and C.C. Spauldi

[2015-05-13 00:22] #78 closed

[2015-05-13 00:34] sarahsba commented on #85
sample site from Memphis: http://memphisschoolguide.org/

[2015-05-13 13:54] sarahsba commented on #85
qualitative reviews / testimonials for magnet and traditional public schools: http://www.strongdurhamschools.com/

[2015-05-16 19:05] jtf621 commented on #85
another sample site http://www.myschooldc.org

[2015-05-19 12:45] jtf621 opened #103 "School Descriptions must be entered by hand for all schools"
Listed as 2-5 should be at least K-5 for the 2014 - 2015 school year.

Address is correct

website is correct

Mission statement is for Jordan.

[2015-05-19 21:45] lemanal commented on #103
Fixed Little river to be 0--5. Right now descriptions and images need to be added by hand for each school.

[2015-05-19 21:48] lemanal opened #104 "Show "K" for school ranges that start with 0"
eg. rather than showing 0--12 show K--12.  <0 should be PreK.

[2015-05-19 21:52] sarahsba opened #106 "Sharing Initial Interview Feedback"
Initial Interview Takeaways
	• Have only accessed a narrow segment - well educated, middle class and wealthier, white, kids in elementary school, strong preference for child-led, montissori options, negative perception of traditional public schools. Very concerned with finding the "right fit for my child"
	• Key resources currently used
		○ Greatschools.org
		○ Durham Mothers Network, NC Moms Risi

[2015-05-19 22:14] sarahsba opened #107 "Determine whether we can pull in user reviews from greatschools.org and strongdurhamschools.org"
Figure out policy on accessing user reviews for both websites.  Determine whether the sites will allow up to pull in user reviews and if it's feasible for us to scrape this content.  Would want the date and name associated with each review.

[2015-05-19 22:21] #96 closed

[2015-05-19 22:44] NoOutlet commented on #107
Currently [contacting Weezie Hough](http://www.greatschools.org/about/feedback.page) regarding licensing for the user submitted reviews on GreatSchools.org.
I have determined that it would be fairly easy to create a scraper for reviews from GreatSchools.org based on their [internal API system](http://www.greatschools.org/gsr/ajax/reviews_pagination?state=nc&schoolId=636&offset=0&limit=100&filter_b

[2015-05-19 22:53] lemanal opened #109 "Add "active" field for schools"
http://rev-elution.blogspot.com/2012/05/closing-of-w-g-pearson-magnet-middle.html

WG Pearson magnet middle closed
https://schools.codefordurham.com/admin/schools/school/230/

Make this school not active.

[2015-05-19 22:59] NoOutlet commented on #107
Emailing the contact email address for strongdurhamschools.com regarding licensing for the user submitted reviews on that site.
I have determined that it would be somewhat complicated to create a scraper for the reviews on strongdurhamschools.com based on their [internal query system](http://www.strongdurhamschools.com/testimonials/?c=bethesda).
It would require a mapping between our internal scho

[2015-05-19 23:30] #74 closed

[2015-05-20 00:25] #109 closed

[2015-05-20 00:58] sarahsba commented on #97
3/4 complete on the mission statement and school hours.  Need to test photos to see how that works.

[2015-05-20 13:01] lemanal commented on #80
Fixed.

[2015-05-20 13:01] #80 closed

[2015-05-22 03:47] jtf621 commented on #54
@copelco @lemanal if you can get me access through the admin, I can check all the schools.  It looks like most are set from the website.  I will also check to see if charter is set since they have been added since this issue was raised.

[2015-05-22 04:44] jtf621 opened #114 "Classify Charter School level consistently"
The Charter schools have a widely varying range of grades offered that do not match the traditional Elementary - Middle - High levels that the UI has embedded as an assumption.  Also it will be confusing for a user if a school offering Kindergarten is classified as a middle school.

A few examples are
- Maureen Joy Charter K-8 (middle)
- Voyager Academy K-12 (secondary)
- Reaching All Minds Academ

[2015-05-22 04:45] jtf621 commented on #89
Durham School of the Arts is a 6-12 school and the "level": "secondary".

Updating $scope.levels in frontend/app/controllers/schoolsMap.js  to include "secondary" would fix this issue, but the UI gets fuggly.

see #114 for a similar issue with Charter Schools

[2015-05-22 05:40] sarahsba commented on #114
would it make sense to eliminate the elementary/middle/secondary
classifications all together and just show the grades offered?

On Fri, May 22, 2015 at 12:44 AM, jtf621 <notifications@github.com> wrote:

[2015-05-23 02:58] jtf621 commented on #73
@lemanal, I have reviewed the official tool and the current production navigator and
- for the @gghezzo issue for 2403 Englewood Ave, all the schools appear in navigator
- for @copelco issue for 1823 Umstead Rd, Sandy Ridge does show in options, but Eno Valley does not show.  This is because Eno Valley is the "Traditional Option" and the model/api/load_schools.py does not  capture this information

[2015-05-23 03:05] jtf621 commented on #99
It appears that Sandy Ridge should have priority choice zone and a priority zone.  The priority choice zone is on production via loading from the http://gisweb2.ci.durham.nc.us/arcgis/rest/services/DurhamMaps/DPS_Schools/MapServer api.

I cannot find the priority zone shape in the http://gisweb2.ci.durham.nc.us/arcgis/rest/services/DurhamMaps/DPS_Schools/MapServer api.

@lemanal, who at Durham Cou

[2015-05-23 03:08] jtf621 commented on #99
see #102, might be the same issue and solution.

[2015-05-23 03:17] jtf621 commented on #94
From my research on the zone issues, it appears that there are 3 categories a school falls under:
1. Assigned (might be better to call it automatic) this is the districted school for the address or if the address is in a walk zone.  Both cases are automatic assignment.
2. Lottery preference, these are the schools with choice or priority given based on the address.  There are several different rule

[2015-05-29 15:06] dsummersl commented on #82
https://github.com/codefordurham/school-navigator/pull/115

[2015-05-31 18:53] NoOutlet commented on #94
Perhaps as an alternative solution to a 3rd tab, the key for the options list could act as a filter as well. Clicking the charter icon could toggle whether the charter schools are displayed or not.
This would require clear indication that the list is filtered though.

[2015-05-31 20:12] sarahsba commented on #94
yeah, that could work if the filter function is clearly displayed.  we
could also use this to enable people to filter on other categories such as
year round, montissori, etc.

On Sun, May 31, 2015 at 12:53 PM, Jon Anderson <notifications@github.com>
wrote:

[2015-06-02 04:24] sarahsba commented on #97
finished adding mission statements and school hours.  I tried to upload a few photos, but I'm not sure this is worth the effort.  Take a look at the ones I uploaded.  Some of the files were too large and others weren't downloadable from the website so even if we want to include photos, we won't have one every for school.

[2015-06-02 10:37] jaycee commented on #97
Links to achiol

[2015-06-02 10:40] jaycee commented on #97
Sorry, fat fingered my phone.

We have links to schools already, which I think is more useful than adding pictures. Pictures seem to always end up out of date with a quickness in situations where they need to be manually updated.

[2015-06-02 23:29] #73 closed

[2015-06-02 23:30] lemanal opened #117 "Hide empty level groups"

[2015-06-02 23:32] #104 closed

[2015-06-02 23:40] lemanal commented on #94
One problem with this, @sarahsba, is that "Assigned" (or "Automatic" per @jtf621) may include Magnet schools even though they are not included on the Magnet tab.

For example, if I live Club Blvd School and I'm in the walk zone. Would I expect to see Club Blvd Magnet in the Magnet schools or the Assigned schools or both? Would it be indicated some how in the Assigned schools that it's a magnet?

A

[2015-06-02 23:55] jtf621 commented on #89
fixed

[2015-06-02 23:55] #89 closed

[2015-06-02 23:57] jtf621 commented on #114
secondary schools now show up and charters are in a separate tab.  Is this still needed?

[2015-06-02 23:57] lemanal commented on #100
No longer needed.

[2015-06-02 23:57] #100 closed

[2015-06-02 23:59] lemanal commented on #103
Dupe of #97

[2015-06-02 23:59] #103 closed

[2015-06-03 00:04] lemanal commented on #97
Fine with pushing thinking about photos to the backlog. Thanks @sarahsba

[2015-06-03 00:05] lemanal commented on #98
Also connected to getting photo content via #97

[2015-06-03 00:06] #82 closed

[2015-06-03 00:07] lemanal commented on #64
Have you looked at this again @nickpassarella ?

[2015-06-03 00:09] jtf621 commented on #54
All are set to one of
 Neighborhood
Magnet
Charter
Specialty

[2015-06-03 00:09] #54 closed

[2015-06-05 02:55] sarahsba commented on #94
The new layout looks good!

Could we avoid the issue, Alex, by changing "assigned" to "traditional" or
"regular" (regular is what they use on the NC Scorecards site)? Then,
separately, could we create a symbol or outlining for any magnet where
someone lives in the walk zone.

Do we have access to the walk zone data yet?

Alternatively, we could keep assigned, and just show a magnet school on the
a

[2015-06-05 03:14] sarahsba opened #120 "grade categories"
We might need to rethink how we categorize the schools for magnets and charters. I just looked through them and there are a lot that don't fit the k-5, 6-8, 9-12 classifications that neighborhood schools use.

This secondary category is especially confusing.  We have 5 secondary, 2 are 6-12 and 3 are K-12.

Thoughts on how to fix this?  Maybe we could include the grades next to the school in the t

[2015-06-05 03:15] sarahsba opened #121 "eliminate "secondary" on the "assigned" page"
All secondary schools are charter or magnet so we don't need this here, and it's confusing.

[2015-06-13 14:47] victor-rocha commented on #117
fixed in 63b77e0

[2015-06-13 16:13] victor-rocha commented on #98
Decided to remove school photos from interface

[2015-06-13 16:13] #98 closed

[2015-06-13 17:28] victor-rocha commented on #70
completed

[2015-06-13 17:28] #70 closed

[2015-06-13 18:14] #83 closed

[2015-06-13 18:14] #117 closed

[2015-06-13 18:14] #121 closed

[2015-06-13 18:21] lemanal opened #123 "Basic style for static pages (About, Navigating, Homepage?)"
Use static HTML pages not CMS.

[2015-06-13 18:28] lemanal opened #124 "Close accordion when switching tabs"
To reproduce:
1. Type a location
2. Click on a school under Assigned
3. Click on Magnets

The list of Magnet schools is empty (though there are really magnet schools).

It should just close the selected school when you change tabs (e.g. Assigned -> Magnets)

[2015-06-13 19:15] #62 closed

[2015-06-13 19:19] #124 closed

[2015-06-14 01:52] jtf621 commented on #120
@victor-rocha  and @jtf621 discussed this today but did not resolve it.  See #114

[2015-06-14 01:52] jtf621 commented on #114
see #120

[2015-06-14 04:02] sarahsba opened #127 "Release of 1.0 version and survey"
What is our timeline for finishing the 1.0 version and releasing it for feedback?  Should I start teeing up a survey and putting together a list of outreach channels?  Let me know if there are specific questions you want to include.  I will plan to ask for feedback on the current version and for input on additional features.  I'll reference the survey that was started a while ago.  I'm planning to

[2015-06-16 21:44] lemanal commented on #114
I think that this is fixed with #73. The remaining issue is clearly captured by #120 as @jtf621 noted and can be pushed off for a later phase.

[2015-06-16 21:44] #114 closed

[2015-06-16 21:44] copelco opened #128 "Page doesn't load when with location in URL"
For example, if I want to send this link to someone:

https://schools.codefordurham.com/#/location/35.9950478/-78.90066259999998/

The page/map doesn't load properly.

[2015-06-16 21:47] lemanal commented on #95
@sarahsba are you working on this? Do we need a place to share copy drafts? Our plan is to make this copy hardcoded and not easy to edit in the admin interface.

[2015-06-16 21:53] victor-rocha commented on #94
@jtf621 can we close this one? I forgot what else we need.

[2015-06-16 22:38] jtf621 opened #129 "5100 torrey pine lane has no assigned elementry school"

[2015-06-16 22:50] NoOutlet opened #130 "Address input clears on submit"
When user submits an address search, the input field is cleared.
It would be nice to keep the address in the field.

[2015-06-16 22:57] lemanal opened #131 "Navigation menu padding"
"Durham School Navigator" menu with "Home Navigating DPS About" sections has ugly padding.

[2015-06-16 23:10] jtf621 commented on #102
Pearsontown is a Calendar Magnet Elementary along with Easley and Holt.  See http://www.dpsnc.net/files/_AaI16_/adf9dc39f01a638f3745a49013852ec4/Calendar_Magnet_Year-Round_School_Lottery_FAQS_English_2015-16_Assignments.pdf

and serves people based on there location as described in gisweb2.ci.durham.nc.us/arcgis/rest/services/DurhamMaps/DPS_ElementaryStudentAssignment/MapServer/3/query?where=1%3D1

[2015-06-16 23:13] victor-rocha commented on #128
It appears that #3031585 broke the frontend as i can't get the the map to load correctly when I check it out, the commit before that #17a6643 works fine.

[2015-06-16 23:34] NoOutlet commented on #128
Commit 6170b4acb390cccd168761ed0da86df66c68a2e4 is the culprit.

[2015-06-16 23:45] NoOutlet commented on #128
Or is it eb6115cfa7806bf3dc4182f0d313ac44eceb4ad7 ?

[2015-06-17 00:22] jtf621 commented on #95
@adamajm here is the copy writing we need

[2015-06-17 01:21] jtf621 opened #132 "Rodger-Herr inherits other school zones"
This was discovered while researching #102   see http://www.dpsnc.net/files/_AaI16_/adf9dc39f01a638f3745a49013852ec4/Calendar_Magnet_Year-Round_School_Lottery_FAQS_English_2015-16_Assignments.pdf

"Rogers–Herr does not have an assigned attendance zones, but  serves applicants regionally.
Only students who reside within the region of Bethesda, Creekside,  Fayetteville Street, Forest View, Hope Vall

[2015-06-17 01:58] jtf621 commented on #99
Based on http://dpsncapplication.com/Sandy_Ridge, the priority zone and transportation zone are the same (Mangum, Eno Valley, Little River, Easley, Holt, Hillandale and Glenn)

The htp://http://gisweb2.ci.durham.nc.us/arcgis/rest/services/DurhamMaps/DPS_ElementaryStudentAssignment/MapServer/6 has a zone for the "Sandy Ridge Transportation Services Area".  I plan on making the assumption that the "

[2015-06-17 04:23] sarahsba commented on #94
I think we still need to figure out a way to show when someone is in the
walk zone for a magnet school.

@jtf621 <https://github.com/jtf621> question for you: do we still need to
come up with a separate way to indicate lottery preference (ie is this
different from being within a magnet's walk zone?)  Is lottery preference
location based?

On Tue, Jun 16, 2015 at 3:53 PM, Victor Rocha <notification

[2015-06-17 04:27] sarahsba commented on #95
not yet...would this be part of phase II?

[2015-06-17 04:32] sarahsba opened #134 "Data sets needed?"
I'm talking on Friday to a guy who works for the City of Durham in the Neighborhood Improvement Services dept and may be able to help us access data sets.  Is there anything we need reg walk zones, priority zones etc?

[2015-06-17 04:47] sarahsba commented on #107
@NoOutlet - any word back from greatschools.org?  I spoke to the woman behind Strong Durham Schools, and she wasn't comfortable pulling the reviews from her site since she didn't inform the authors that their posts would be used on another site.  But she suggested a joint effort to get a new round of reviews which I will explore further.  I'm also thinking we could ask people when they complete th

[2015-06-17 12:39] NoOutlet commented on #107
Nope. I never got any word back from them.

[2015-06-17 16:41] jtf621 commented on #95
@sarahsba  / @adamajm  / @lemanal ,

I would suggest that we make a first draft of the “Navigating DPS” for the Phase 1 milestone.  We could get feedback on the usefulness and it will help us understand and communicate the non map based information a bit better.

This would go toward the Goal: Remove friction for understanding the local school system (Improve drastically onexisting DPS web tools)

[2015-06-17 16:53] jtf621 opened #135 "Update the Assigned tab name and add all schools where the address location indicates a lottery or assignment preference."
Spilt from #94.

The interface now shows schools that are designated or are in a walk zone on the Assigned tab based on the address.

- [x] pick a new name for Assigned that better indicates the schools in the list
- [x] add year round options to the list (see #132, #102)
- [x] add priority zones (see #99) others?
- [ ] research Lottery preference, these are the schools with choice or priority giv

[2015-06-17 16:55] jtf621 commented on #94
@victor-rocha / @sarahsba

I am closing the issue based on it's original definition and opening #135 to take on the comments added.

Feel free to reopen if you disagree

[2015-06-17 16:55] #94 closed

[2015-06-17 20:58] lemanal commented on #95
@sarahsba ,This and #123 (the design of those pages) are marked for Phase I. Does that seem unreasonable? The text could be brief (mostly linking out to other resources) to start.

[2015-06-17 21:03] lemanal commented on #134
I think we have all of the phase I data as a snapshot, but we do not have feeds that update when zones change. We could also push the data portal folks to try to get us access to feeds as well. I'm less certain on the status of Phase II data, but @jtf621 probably has more insight.

[2015-06-17 21:06] lemanal commented on #127
I just updated the Phase I release date from May 26th to July 14th. We keep closing 5 tickets and adding 3. I don't have a preference for survey software.

[2015-06-18 14:57] nickpassarella commented on #97
Hey all. Apologies for not having been at meetups lately. This is short notice, but tomorrow I might have an opportunity to test out a new product we are working on for automating data focused content generation. I saw mission statements have been added, but I could potentially use my testing time to generate descriptions for each school based on specific data.

If this is helpful for this project

[2015-06-18 22:32] #102 closed

[2015-06-18 22:34] #131 closed

[2015-06-18 23:09] copelco commented on #129
Did some research:

Using the [official too](http://gisweb.durhamnc.gov/durhammaps/DPS/viewer/index.html), and searching for ``5100 Torrey Pine Ln``, it also fails. However, if you then use the Select Tool Button, you can select the parcel where the address is labeled, confirm your selection, and it shows that the elementary school should be **Parkwood**.

At first we thought the geocoded point ma

[2015-06-19 00:28] adamajm commented on #95
Let's def get a v1 of text with minor effort put into design.

[2015-06-19 01:23] adamajm commented on #95
Working google doc here: https://docs.google.com/document/d/1MpGr5PDVpOKHbsoDRJKI1sl9olm9Z_dZgeBIUUOaJKs/edit?usp=sharing

[2015-06-19 02:02] adamajm commented on #95
for: Navigating DPS, need more on Charters, proofreading

[2015-06-19 04:00] adamajm opened #137 "Add Visual User Feedback tool"
like https://usersnap.com/ or

[2015-06-19 05:09] sarahsba commented on #95
ok, I'll work on this with Adam.

On Thu, Jun 18, 2015 at 10:01 PM, adamajm <notifications@github.com> wrote:

[2015-06-19 13:06] jtf621 commented on #95
Adam,

Looks like a very good first cut.  Thanks for taking this on.

Jeremy

On Jun 18, 2015, at 9:23 PM, adamajm <notifications@github.com> wrote:

[2015-06-19 13:11] jtf621 commented on #134
Sarah,

It would be helpful if you could find out who in the Durham system sets up the School information in the Durham GIS site.

I would like to find out the update schedule for the information and where some of the zone info is maintained.

Also you could ask if there are any plans to open up more data from DPS in the near future.

Thanks,
Jeremy

On Jun 17, 2015, at 5:03 PM, Alexander Lemann <

[2015-06-20 04:51] sarahsba commented on #134
Hi Jeremy,
Thanks for this.  John unfortunately didn't seem to know much at all about
the DPS data but had good insights on how to bring DPS on board.  He
suggested that we meet with someone on the leadership team to share the
concept, get their feedback on how School Navigator can be a resource for
them, and then once we have that buy-in at the top start asking
for specific data requests.

I thin

[2015-06-27 18:56] adamajm commented on #123
hey folks - can we add some bootstrap or something into css? i don't really know how that all works

[2015-06-27 19:24] adamajm opened #138 "QA Against DPS Tool"
Prior to any press release or launch, do a final check the listings/school zones @ http://gisweb.durhamnc.gov/durhammaps/DPS/viewer/index.html

Spot check addresses that are on the edge of zones.

[2015-06-27 22:40] sarahsba opened #139 "Distribute parent survey of v1"
Here's a draft of the survey to share with parents to get feedback on the mapping tool and on the additional information for v2.  Let me know if you have any edits: https://docs.google.com/document/d/1K-U0HmvpewlYQ0Rhha3NhPGBi1D6hGM_pRCVGRJt9UY/edit?usp=sharing

[2015-06-30 22:34] #128 closed

[2015-06-30 23:13] NoOutlet opened #142 "2745 Joyner Rd does not have an assigned high school"
DPSNC lists Southern as the assigned high school, but doesn't show it on the map. Probably means Southern School of Energy and Sustainability.

Southern High seems to have turned into Southern School of Energy and Sustainability in 2011 when it became a magnet school.

[2015-06-30 23:17] NoOutlet commented on #142
Southern appears to have an attendance zone in which students will be assigned automatically to the Southern School of Energy and Sustainability high school.
http://southern.dpsnc.net/pages/Southern_High/About_Us/Magnet_lottery_information

[2015-07-01 00:13] jtf621 opened #145 "update loadschools.py to normalize school names"
Running current version adds duplicate names
- Club Blvd, Club Boulevard
- Lakewood, Lakewood Elementary School
- Southern, Southern School of Energy and Sustainability
- Y.E. Smith, Y.E. Smith Elementary Museum School

[2015-07-01 00:16] jtf621 commented on #138
Tonight Kevin and I started a list of results from the official list in google docs.  Will attach soon

[2015-07-01 01:41] jtf621 commented on #138
We should also add a disclaimer like on the official site http://www.dpsnc.net/pages/Durham_Public_Schools/Our_Schools/Find_Your_School/Find_Your_School_Assignment .

    Disclaimers

     This system is subject to current public information rules and regulations. Information presented on this web site is considered public information and may be distributed or copied. The City of Durham, the     C

[2015-07-01 01:54] jtf621 commented on #129
Tonight we Chris, Kevin, and I looked at this.  The official site uses property tax maps and the address is located in Pine Ridge Apartments, which has an official address of 6401 Monterrey Creek Dr.

Thanks Chris for the insight on the property tax map issues with apartments.  This will affect other areas in Durham as well.

The elementary is Parkwood with a year round option of Pearsontown.

We

[2015-07-01 02:05] jtf621 commented on #142
Southern district is found at http://gisweb2.ci.durham.nc.us/arcgis/rest/services/DurhamMaps/DPS_Districts/MapServer/2/query?where=1%3D1&text=&objectIds=&time=&geometry=&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&relationParam=&outFields=&returnGeometry=true&maxAllowableOffset=&geometryPrecision=&outSR=&returnIdsOnly=false&returnCountOnly=false&orderByFields=&group

[2015-07-01 02:51] jtf621 commented on #129
I compared the shape in https://schools.codefordurham.com/admin/schools/school/194/ and it matches with the official site in the Torrey Pine Lane area.  When I zoom in to https://schools.codefordurham.com/#/location/35.9171635/-78.93060539999999/ and compare it to the admin site, the address should be in the Parkwood district zone.

@copelco is this a query issue?

[2015-07-01 02:54] jtf621 commented on #129
Found it.  Parkwood was set as not active in the database.  Set it to active (in the admin) and it is fixed.

[2015-07-01 02:54] #129 closed

[2015-07-01 03:33] victor-rocha commented on #129
I know Alex set a school as not active a couple of weeks ago but I don't
remember the reason. I wonder if it was this one.

On Tue, Jun 30, 2015 at 10:54 PM, jtf621 <notifications@github.com> wrote:

--
Thanks,
Victor

[2015-07-01 03:39] jtf621 commented on #129
Looking at the admin history it was @sarahsba  when she was adding the mission statement and hours to the long list of schools.  I looked online and Parkwood is active.  Changing active was ikely was a fat finger.

[2015-07-01 03:40] victor-rocha commented on #129
thanks for checking on that

[2015-07-01 04:20] jtf621 commented on #145
Alternatively we can run the load schools command once and then manually clean up the database one more time before we ship Phase 1.

[2015-07-14 22:06] lemanal commented on #137
@adamajm Are any of these free?

[2015-07-14 22:57] #132 closed

[2015-07-14 22:57] #99 closed

[2015-07-14 23:21] jtf621 commented on #24
no longer needed.

[2015-07-14 23:21] #24 closed

[2015-07-14 23:28] jtf621 opened #147 "Add Holt Easley Traditional Calendar option zones"

[2015-07-15 00:04] jtf621 opened #148 "1000 N Duke St is in George Watts Priority Zone -- show on UI somehow"

[2015-07-15 00:18] adamajm opened #149 "Add List of Schools Page"
Similar to http://www.dpsnc.net/pages/Durham_Public_Schools/Our_Schools

pulling off out database

[2015-07-15 00:18] lemanal opened #150 "Remove Levels from Charter school list"
Don't show Secondary, Elementary, HS in Charter tab. Show grade levels instead following school. Sort them by grade_min.

[2015-07-15 00:23] lemanal opened #151 "Cleanup Grade Level Ranges"
"PreK3-5" is confusing. Could be interpreted as an age. "5th" would be more clear. Use better spacing or dash (eg mdash or spaces before/after dash)

[2015-07-15 00:25] adamajm commented on #135
Differentiate formatting for Magnet schools that appear in "assigned" column

[2015-07-15 00:28] jtf621 commented on #120
- add grades in line in small grey txt to Charters schools.
- manually categorize each charter consistently

[2015-07-15 12:41] adamajm commented on #137
this one isn't but looks important

http://theuserisdrunk.com/

[2015-07-15 12:51] adamajm commented on #137
http://alistapart.com/article/quick-and-dirty-remote-user-testing

[2015-07-23 02:05] adamajm commented on #137
From Code for America folks:

usertesting.com is the one where we have free credits (if useful down the line)
and ethnio and olark are also tools CfA has found useful

[2015-08-05 00:39] adamajm commented on #137
Looks like we are good to go with Usersnap! Thanks Alex for making that happen. Now to add to site...

[2015-08-11 21:27] lemanal commented on #123
Basic style is up. Small changes welcome.

[2015-08-11 21:27] #123 closed

[2015-08-11 22:19] copelco commented on #147
@jtf621 do you have code started for this or can someone else start fresh?

[2015-08-11 22:35] adamajm commented on #127
From Sarah: Here is a link to the School Navigator survey.  It'd be great if some of you could take a look at it tonight and let me know if any questions need to be added or changed.  Note that I haven't yet programmed the dependency of the sections so that you only see those that you've selected in the first question.

https://dukefuqua.qualtrics.com/jfe/preview/SV_3xfD0Xjs71CkDyt

[2015-08-11 22:42] lemanal opened #152 "5609 kiltshire rd"
Elementary Eno Valley isn't shown in school navigator but shows up in DPS tool. Looks like the district in the DB does not extend west enough.

http://gisweb.durhamnc.gov/durhammaps/DPS/viewer/index.html
https://schools.codefordurham.com/admin/schools/school/201/

[2015-08-11 22:49] lemanal commented on #152
District using DPS tool. is split. Is that what the district really looks like? If so, then we need a multi-polygon field in our tool

[2015-08-11 22:51] adamajm commented on #127
Hi Sue - can you take a read through this survey and give any comments on things confusing / additions / changes / etc. Thanks!

[2015-08-11 22:55] #137 closed

[2015-08-11 22:56] lemanal commented on #137
@adamajm Can you QA this?

[2015-08-11 23:18] adamajm commented on #148
Adam, Colin, Alex discussed - On Assigned Tab, BRING to top of list all schools where the address in inside a zone, and a word in grey that indicates what TYPE OF ZONE it is.

[2015-08-11 23:55] adamajm opened #153 "Add Data Attributes to database"
For future filtering (Pending survey results), add attributes like "Lottery (Y/N) - Is a lottery used at all in the application process to assigned students to this school?"

[2015-08-21 00:15] jtf621 commented on #147
Someone can start fresh if I am not done before Tuesday

Sent from my iPad

[2015-08-25 21:48] jtf621 commented on #147
I did not get started yet.  Does someone want to take it on?

[2015-08-25 22:19] jwaldrep commented on #145
Here is code for normalizing the duplicate school names, inserted at beginning of get_school():
    def get_school(self, name, schools):
        duplicates = {'Club Blvd': 'Club Boulevard',
                      'Lakewood': 'Lakewood Elementary School',
                      'Southern': 'Southern School of Energy and Sustainability',
                      'W.G. Pearson School - Student Services Ce

[2015-08-25 22:30] lemanal commented on #148
Dupe of #135

[2015-08-25 22:30] #148 closed

[2015-08-25 22:36] victor-rocha opened #154 "Add alpha ribbon"

[2015-08-25 23:03] jtf621 commented on #145
thanks @jwaldrep.  I noted that 'W.G. Pearson School - Student Services Center' and 'W.G. Pearson Magnet Middle School' are two different schools.

[2015-08-25 23:34] lemanal commented on #153
Other possible fields:
* Lottery description field
* Uniform (Y/N) field

Pending community feedback

[2015-08-25 23:42] jtf621 commented on #142
fixed in #145

[2015-08-25 23:44] jtf621 commented on #147
starting on it now.

[2015-08-26 00:00] lemanal commented on #95
First draft is up, working, ready for feedback and iteration.

[2015-08-26 00:00] #95 closed

[2015-08-26 00:14] #142 closed

[2015-08-26 00:22] jtf621 commented on #145
Performance Learning Center

[2015-08-26 00:22] #145 closed

[2015-08-26 00:37] jtf621 commented on #147
Need multipolygon support to fix

[2015-08-26 00:37] copelco opened #157 "Add google analytics"

[2015-08-26 00:45] jtf621 commented on #135
incorporated or done

[2015-08-26 00:45] #135 closed

[2015-09-02 02:44] sarahsba opened #158 "Add charters that opened fall 2015"
KIPP Durham and possibly more charters are opening in Durham this fall.  We need to find this list and add them to the database.

[2015-09-03 17:36] codesterkemp opened #159 "waffle issue"

[2015-09-03 17:37] #159 closed

[2015-09-08 22:25] #157 closed

[2015-09-08 22:31] jwaldrep commented on #158
Two charter schools are opening in Durham for Fall 2015, according to: http://www.ncpublicschools.org/docs/charterschools/schools/contactnewcs.pdf

Excelsior Classical Academy http://www.excelsiorca.org/ Cynthia Gadol School Director 919-907-0410 info@excelsior.teamcfa.org 1213 Carolina Ave. Durham, NC 27705

KIPP Durham College Preparatory http://kippenc.org/school-details/kippdurham-college-prep

[2015-09-08 22:32] copelco commented on #138
https://schools.codefordurham.com/api/schools/?latitude=36.018558&longitude=-78.89611400000001

[2015-09-08 23:26] adamajm opened #160 "Usersnap - Integration Test"
**Sender**: amartin@codeforamerica.org
**Comment**: This example screen shows you if your integration setup is correct.

![Usersnap - Integration Test](https://usersnappublic.s3.amazonaws.com/testfeedback/itworks.png)

**Browser**: Chrome Chrome
**Referer**: [http://www.usersnap.com](http://www.usersnap.com)
**IP**: 127.0.0.1
**Browser size**: 1680 x 1050

Powered by [usersnap.com](https://usersna

[2015-09-08 23:27] adamajm opened #161 "Usersnap - Integration Test"
**Sender**: amartin@codeforamerica.org
**Comment**: This example screen shows you if your integration setup is correct.

![Usersnap - Integration Test](https://usersnappublic.s3.amazonaws.com/testfeedback/itworks.png)

**Browser**: Chrome Chrome
**Referer**: [http://www.usersnap.com](http://www.usersnap.com)
**IP**: 127.0.0.1
**Browser size**: 1680 x 1050

Powered by [usersnap.com](https://usersna

[2015-09-08 23:28] #160 closed

[2015-09-08 23:29] #161 closed

[2015-09-08 23:34] sarahsba commented on #158
Note updated website for Excelsior: http://excelsior.teamcfa.school/

[2015-09-20 21:04] jtf621 opened #162 "Oak Grove set to Inactive"
Oak Grove is set to inactive.  Should be Active

[2015-09-20 21:05] jtf621 commented on #162
Fixed in admin

[2015-09-20 21:05] #162 closed

[2015-09-21 00:34] jtf621 opened #163 "3612 MORIAH RD confuses geocoder"
Searching with google maps returns 3 possibilities (the last one is correct)

 -   3612 Mt Moriah Rd, Durham, North Carolina 27707
 -   3612 Moriah Hill Rd, Durham, North Carolina 27707-9567
 -   3612 Moriah Rd, Rougemont, North Carolina 27572-9441

if we update frontend/directives/SearchDirectives.js

var lookup_address = (scope.address.indexOf("durham") == -1) ? scope.address + " Durham NC": sco

[2015-09-21 00:49] jtf621 opened #164 "1017 THOUGHTFUL SPOT LN is not found by geocoder and defaults to the center of durham"
1017 THOUGHTFUL SPOT LN is a the durham gis parcel maps as a development under construction.

Google maps cannot find it, and the geocoder should alert the error, but seems to default to the center of Durham.

When the frontend cannot geocode an address the app should fail loudly.

[2015-09-21 00:55] jtf621 opened #165 "110 N CORCORAN ST gecodes to the wrong location"
Google maps places it south of Main on S CORCORAN  not just north of Main on N CORCORAN which places it in a different elementary school zone (CC Spaulding vs Glenn)

[2015-09-21 01:01] jtf621 opened #166 "132 TURNER RIDGE CIR geocodes to the wrong location"
School Navigator puts it on Ridge Road.

Google maps cannot find it

and Durham GIS places it near the Chatham county line off of 751 in a new development.

[2015-09-21 01:05] jtf621 commented on #166
another example of a bug that appears similar is 104 COLVARD WOODS WAY

School Navigator places it on WOODS ST

Google maps cannot find it

and Durham GIS places it near the Chatham county line off of 751 in a new development.

[2015-09-21 01:10] jtf621 opened #167 "Addresses like 2823 E US 70 HWY confuse the geocoder"
2655 E US 70 HWY is another example

Durham GIS place them out on HWY 70

School Navigator and Google maps place it on US 70 BUS (HILLSBOROUGH RD)

changing the query to be 2823 E US 70 HWY Durham County  NC vs 2823 E US 70 HWY Durham NC fixes.  see #163

[2015-09-21 02:36] jtf621 commented on #138
I emulated the DPS tools API calls that the flash app makes in tools/get_dps_py and emulated the front end calls for School Navigator in tools/get_cfd.py (note you need a google api key to call the geocoder).

Next I downloaded from https://opendurham.nc.gov/explore/dataset/parcels1/?tab=table a local copy of the parcels data set.  from this set I randomly pulled out a sample of 1000 site addresse

[2015-09-21 02:37] jtf621 opened #168 "833 BERKELEY ST should be in the George Watts elementary walk zone"

[2015-09-21 02:40] jtf621 opened #169 "the Morehead priority zone sould be on the first tab"
1017 KENT ST is in the Morehead priority zone.

[2015-09-21 02:43] jtf621 opened #170 "fix get_dps and get_cfd to disambigiuate and compare properly the elementary walk/choice/priority zones."
Start with get_dps, it seem all of these are shoved into the walk zone part of the api.

[2015-09-21 03:07] jtf621 commented on #138
The review-dps-cfd.txt report and data files dps.csv and cfd.csv are uploaded to https://drive.google.com/drive/folders/0BzzdkaFnyRitcGhBQ0tmdi0yenc

[2015-09-22 02:44] sarahsba commented on #138
This is awesome! Do we know our percent accuracy?
On Sep 20, 2015 11:07 PM, "jtf621" <notifications@github.com> wrote:

[2015-09-22 16:38] jwaldrep commented on #158
I added the two schools to the database, using the addresses, mission statements, etc. from their websites.

A couple notes:
Updated web address for Kipp is:  http://kippenc.org/school-details/kipp-durham-college-prep-public-school/

Both schools plan to expand their grade levels moving forward, presumably starting next school year.

[2015-09-22 17:54] #158 closed

[2015-09-22 21:43] #163 closed

[2015-09-22 21:59] #164 closed

[2015-09-22 22:36] lemanal commented on #165
Is there a 110 N Corcoran? 111 Corcoran is N of Main and is the hotel 21c. Are you worried about this as a general problem with the geocoder or a specific problem with this address?

[2015-09-22 22:41] lemanal commented on #165
Found this from the assessor's office: http://property.spatialest.com/nc/durham/property/102765/card/1 negating my previous comment. But, isn't that a hole in the ground right now?

[2015-09-22 22:51] lemanal commented on #169
It's not on the first tab because you would still need to apply to it. The idea is to sort the magnets with matched zones going first. Do you disagree, @jtf621 ?

[2015-09-22 22:52] jtf621 commented on #165
The parcel maps have properties that have been sold but construction is not complete. These should be correct for a family that may be evaluating buying a new house.

Also there are commercial properties in the database. I did not try to filter these out of my sample.

Sent from my iPhone

[2015-09-22 22:53] jtf621 commented on #165
The issue was that the geocoder placed the dot below main and the assessor was north of main.

The dividing line goes down main.

Sent from my iPhone

[2015-09-22 22:58] jtf621 commented on #169
I think you need to apply to a magnet if you are in a walk zone and they are on the first tab (I think).

It may be clearer if all of the location based preference are on the first tab. Then tr first tab will provide all of the information that the official site has.

I could be persuaded to leave it but when I was checking the sample I missed it  on the second tab until I went in the admin.

Sent

[2015-09-23 00:02] jtf621 commented on #138
About 98% for high, middle, middle yr, and elementary.  My review suggested that these are largely due to the geocoder edge cases.

About 90% for elementary yr and elementary walk zone. The improvement in #170 will make these numbers be more accurate.

0% for the holt easley traditional option.

[2015-09-25 03:10] sarahsba opened #172 "Add new resource to resource for parents section"
add, Durhamgoestokindergarten.com to the “Resources for Parents” section.

From Durham Partnerships for Children: We’ll add the link to the mapping tool to our Transition to Kindergarten website as well.

[2015-09-27 12:25] jtf621 commented on #163
@lemanal is this on production yet?  I am testing again.

[2015-09-27 12:55] jtf621 commented on #167
fixed by 0512655f99df09cd84e1057a8eee7a5a78a62a1a
same fix as #163

[2015-09-27 12:55] #167 closed

[2015-09-27 13:14] jtf621 commented on #168
833 BERKELEY ST should be in the George Watts elementary priority zone and it is.  same as #169

[2015-09-27 13:14] #168 closed

[2015-09-27 14:43] jtf621 opened #173 "1104 DAMSEL WAY should be shown as Sandy Ridge Choice Zone - not Priority Zone"
The Priority zone is drawn on the map and the house is in the Choice zone (as shown in the admin interface)

[2015-09-28 00:43] jtf621 opened #174 "Confirm the Sandy Ridge Priority Zone shape with DPS"
Sandy Ridge Priority Zone does not show up in the DPS official tool (see #138)

see #99 for the addition of the Priorty zone to School Navigator

from: http://dpsncapplication.com/site327.php
Q: What is a priority zone?
A: A priority zone is a designated area around the school that provides applicants who are domiciled in that area an assignment priority. This priority takes place when the lottery

[2015-09-28 01:27] jtf621 opened #175 "5357 N ROXBORO ST is incorrectly geocoded"
DPS site places it just north of Infinity.  Google and SN place it just south of the Eno River.

[2015-09-28 01:38] jtf621 commented on #170
fixed in 2a704f62ccb36f4aa62a5ab55e1806135b2c1a0b

[2015-09-28 01:38] #170 closed

[2015-09-28 01:48] jtf621 opened #176 "when in Holt and Easley districted zones the shape on map is wrong"
https://schools.codefordurham.com/#/location/36.04493513529677/-78.9096450805664/

shows the Holt Year Round option shape not the districted shape

[2015-09-28 02:00] jtf621 commented on #138
@sarahsba  @lemanal  @copelco I reviewed again today after the fixes to #163, #164, and #170.

If we prioritize the fixes to #147 and #152 and confirm we are correct vs the DPS tool for #174 then we should be ~99.9% correct for the sample of 1000 addresses I used.

The review-dps-cfd.txt report and data files dps.csv and cfd.csv are uploaded to https://drive.google.com/drive/folders/0BzzdkaFnyRitc

[2015-10-01 03:20] lemanal commented on #163
@jtf621 I did not deploy last week. I don't think it's up on production right now.

[2015-10-02 21:19] copelco commented on #176
This is fixed in my multipolygon branch

[2015-10-02 21:34] copelco commented on #152
This is fixed in my multipolygon branch

[2015-10-04 03:08] adamajm commented on #154
changed from beta to alpha per Code for America's new product maturity framework

[2015-10-04 03:09] adamajm commented on #154
Victor can you do this this week?

[2015-10-04 03:19] adamajm commented on #153
Breaking out Each grade individually so we can create sweet bar charts like this:
http://infoworks.ride.ri.gov/search/schools-and-districts

[2015-10-04 03:29] adamajm commented on #151
is it supposed to be prek3 - 5th or PreK3 - K?

[2015-10-04 03:31] #106 closed

[2015-10-04 23:01] sarahsba opened #177 "Change Durham Parent Teach Association Council to "Durham Council of PTAs" on About page"
This was requested by the president of the PTA Council who is promoting our survey so it'd be great if we could make this change asap. https://schools.codefordurham.com/#/about

[2015-10-04 23:05] sarahsba opened #178 "Recommended changes from PTA Council to "Navigating DPS" page"
NAVIGATOR "NAVIGATING DPS" PAGE

Neighborhood schools -
I believe Easley is an exception to the first sentence . . . it's a year-round magnet, but also has an automatic attendance zone, which is larger than a walk zone.  If you live in that zone, Easley functions like a traditional school, but it's not "traditional" in the sense that it's year-round.
In the View Details page, there's a typo in the

[2015-10-05 21:25] adamajm opened #179 "Usersnap - Cool"
[Open #17 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/17)
**Notes**:
 - Zoomed too far out

![Usersnap - Cool](https://usersnappublic.s3.amazonaws.com/2015-10-05/23-24/86018588-78b6-4845-a5b0-aae03d8db2d9.png)

**Browser**: Chrome 45 (Mac OS X Yosemite)
**Referer**: [https://schools.codefordurham.com/#/](https://schools.codefordurham.com/#/)
**IP**:

[2015-10-05 21:26] adamajm opened #180 "Usersnap - yes"
**Sender**: None
**Comment**: yes
[Open #18 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/18)

![Usersnap - yes](https://usersnappublic.s3.amazonaws.com/2015-10-05/23-26/5dc51060-54da-4198-a106-de430e0f7790.png)

**Browser**: Safari 8 (iOS)
**Referer**: [https://schools.codefordurham.com/#/](https://schools.codefordurham.com/#/)
**IP**: 24.248.26.122
*

[2015-10-06 04:21] sarahsba opened #181 "Begin profile design"
Look at all the sample sites we've been collecting and pull out suggestions for how to organize the profiles

look here for list of other sites:
https://docs.google.com/spreadsheets/d/1wGjAGCLVUyA9qIUeUMp8asxhA7csIMtvGAu0_YNkyPE/edit#gid=0

[2015-10-06 04:24] sarahsba opened #182 "Plan survey analysis"
Develop structure for evaluating survey results

We need to look at responses by different demographic segments including race and zoned elementary school as a proxy for income.  Ideally we can classify each elementary school as high/low income neighborhood

[2015-10-06 04:26] sarahsba opened #183 "Input feedback from user testing results"
Review feedback from user testing to identify recommendations for improvement to School Navigator and input into Github: https://docs.google.com/spreadsheets/d/1ZKyj1wFFUV89bk02zbpghpNd7VMo4fEVa_0Rl2GwH_s/edit#gid=464221692

[2015-10-06 04:29] sarahsba opened #184 "Create policy for how to deal with parent and teacher reviews"
• Create policy for how to deal with reviews (look at how other sites deal with this).  Need to figure out issues such as: What is and is not acceptable in a review from parents?  Will we review every one submitted and for what reasons will we take a post down?  Should names of teachers and others be allowed? etc.

[2015-10-06 21:58] #177 closed

[2015-10-06 22:28] #179 closed

[2015-10-06 22:29] #154 closed

[2015-10-06 22:52] #152 closed

[2015-10-06 22:58] jtf621 commented on #147
see http://gisweb2.ci.durham.nc.us/arcgis/rest/services/DurhamMaps/DPS_Schools/MapServer/7 for the zones

[2015-10-06 22:59] jtf621 commented on #147
test cases

2027 HILLOCK PL                     Eno Valley
3150 ROSE OF SHARON RD                     Hillandale
7 GALAXY CT                  Merrick-Moore
4400 BEN FRANKLIN BLVD                          Glenn

[2015-10-06 23:03] #176 closed

[2015-10-06 23:44] jtf621 opened #186 "elementary year round zones are exclusive."
You can only apply to the year round elementary magnet that you are zoned for.  The others are not options.  We need to hide the other schools on the second tab.

We need to review the rules for application eligibility in http://www.dpsnc.net/files/_AaI16_/adf9dc39f01a638f3745a49013852ec4/Calendar_Magnet_Year-Round_School_Lottery_FAQS_English_2015-16_Assignments.pdf

[2015-10-06 23:44] jtf621 opened #187 "year round assignments are not automatic (should they be on the second tab?)"

[2015-10-06 23:47] jtf621 commented on #169
reviewed with Inessa.

[2015-10-06 23:47] #169 closed

[2015-10-07 00:54] jtf621 commented on #178
fixed in #188

[2015-10-07 00:54] #178 closed

[2015-10-07 01:06] jtf621 commented on #180
no useful feedback in usersnap

[2015-10-07 01:06] #180 closed

[2015-10-07 11:37] jtf621 commented on #138
@sarahsba @lemanal @copelco I reviewed again today after the fixes to #152 and #147 went ont production.

The only data differences I find now are #174 and geocode errors for

5357 N ROXBORO ST
5368 N ROXBORO ST
5350 N ROXBORO ST
110 N CORCORAN ST

The review-dps-cfd.txt report and data files dps.csv and cfd.csv are uploaded to https://drive.google.com/drive/folders/0BzzdkaFnyRitcGhBQ0tmdi0yenc

[2015-10-07 11:39] jtf621 commented on #147
@copelco The data from the API appears correct now.  We need to address drawing the correct polygon on the map.  Do you want to close and open a new ticket for the front end work?

[2015-10-07 16:42] NoOutlet commented on #64
I am very close to having this completed.
The way I did it was to refactor basically the entire Angular app using [angular-leaflet-directive](https://github.com/tombatossals/angular-leaflet-directive). To make it easy for me to follow the codeflow, I grouped everything (except templates) into a single file app/app.js. Hence the name of the branch is "oneFile".

I believe the only two things I have

[2015-10-08 19:03] adamajm opened #189 "Update text for walk zone to magnet walk zone"
**Sender**: shapiromatron@gmail.com
**Comment**: Looks great guys, very clean app. I googled my address and club blvd elementary appears, but it's in the "neighborhood", and not in the "magnets". Since it's a magnet school, should it appear in both?

http://clubblvd.dpsnc.net/pages/Club_Boulevard_Elementary

[Open #19 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigat

[2015-10-08 20:17] copelco opened #191 "Color code zone types"
Now that we return multiple zones, it would be nice to have them visually distinct with a legend

[2015-10-08 20:19] copelco opened #192 "Highlight school row when hovering over map icon"
Doesn't work anymore with the latest changes

[2015-10-08 20:21] copelco opened #193 "Allow setting flag for local development"
Maybe a query string parameter so we can tell the JS to hit our local API rather than production.

[2015-10-08 20:21] NoOutlet commented on #192
Ah. File that under a feature I didn't know to do. I can implement that when I get home tonight.

[2015-10-08 20:23] copelco opened #194 "Save address from field in URL so it appears when you copy/paste"

[2015-10-08 20:24] copelco commented on #192
No worries! We're doing ShipIt at Caktus today/tomorrow, so Victor might look into it too. We're excited to have it merged!

[2015-10-08 21:25] #193 closed

[2015-10-09 02:11] NoOutlet commented on #130
This was fixed by the oneFile merge.

[2015-10-09 02:11] #130 closed

[2015-10-09 02:12] NoOutlet commented on #64
The fix for this was merged in with the oneFile branch.

[2015-10-09 02:12] #64 closed

[2015-10-09 02:51] #192 closed

[2015-10-09 04:10] NoOutlet commented on #191
I've done a first draft of this feature. It works, but I would like some design feedback.

[2015-10-09 15:07] #194 closed

[2015-10-09 15:38] emullaney commented on #191
:+1:

[2015-10-09 17:38] #186 closed

[2015-10-09 17:43] #191 closed

[2015-10-09 17:43] #187 closed

[2015-10-09 17:47] copelco commented on #147
Sounds good, the frontend code was fixed in #191

[2015-10-09 17:47] #147 closed

[2015-10-09 18:35] emullaney opened #198 "Tooltips to explain difference between "Neighborhood", "Magnets" and "Charters""

[2015-10-09 19:10] emullaney opened #200 "Safari issues"
We noticed issues on Safari browser on OSX
- ~~tooltip font size too large, makes "Magnet" tooltip disappear~~
- scrollbar not showing up on the list of schools

[2015-10-09 19:34] ncnwoko opened #201 "Neighborhood/Magnets/Charters tab hover-overs get cut off if message is too long"
Tool tip pop-up appears above the tab; risk that msg gets cut off. Consider making it so that pop-up displays below or to the side of the tab. See image
![cfd-hoverover-cutoff](https://cloud.githubusercontent.com/assets/5464067/10403617/1579f954-6e9b-11e5-95d6-8f525ba223bb.png)

[2015-10-09 19:38] ncnwoko opened #202 "If random series of numbers are entered without street, app defaults to Leesville Rd"
![cfd-sn-defaultlocation](https://cloud.githubusercontent.com/assets/5464067/10403695/abfe1af4-6e9b-11e5-92fe-55e0629ed6cd.png)

[2015-10-09 21:38] sarahsba opened #203 "Determine whether you are guaranteed a spot in a year-round schools if you apply."

[2015-10-09 22:06] sarahsba opened #204 "walk zone schools are disappearing"
When I enter an address within a walk zone or move the house icon inside a walk zone, the associated school disappears from the map.  RN Harris & Club Blv.

[2015-10-09 22:11] sarahsba opened #205 "confusing use of "priority" for the magents"
We're using "priority" as a general term to refer to any magnet school where the entered address is in the priority, choice or walk zones.  But because "priority" is also the name of the name, this is confusing.  Instead of having "priority" appear, can we have "priority zone" "walk zone" or "choice zone" appear?

[2015-10-10 08:22] NoOutlet commented on #204
It disappears from the map when you are on the Magnets tab because it becomes your assigned school. The concept is that schools in the Magnets tab required an application.

[2015-10-10 08:40] NoOutlet commented on #203
You are not. From [District Policy 4133](http://www.dpsnc.net/pages/Durham_Public_Schools/District/About_DPS/District_Policies/Series_4000_-_Student_Services/4133)

[2015-10-10 08:40] #203 closed

[2015-10-10 12:12] adamajm opened #206 "Usersnap - Maps do not appear on ipad"
**Comment**: Maps do not appear on ipad
[Open #20 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/20)

![Usersnap - Maps do not appear on ipad](https://usersnappublic.s3.amazonaws.com/2015-10-10/14-12/d5f17b1c-caf7-4b5d-a4c9-e6077bb2960e.png)

**Browser**: Safari 7 (iOS)
**Referer**: [https://schools.codefordurham.com/#/](https://schools.codefordurham.co

[2015-10-10 12:13] adamajm opened #207 "Usersnap - Cannot select magnets or charters on ipad. Only get a pop up"
**Comment**: Cannot select magnets or charters on ipad. Only get a pop up
[Open #21 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/21)

![Usersnap - Cannot select magnets or charters on ipad. Only get a pop up](https://usersnappublic.s3.amazonaws.com/2015-10-10/14-13/8de96e02-ed99-467f-ad7a-bd6736265041.png)

**Browser**: Safari 7 (iOS)
**Referer**: [ht

[2015-10-10 12:20] adamajm opened #208 "Usersnap - maps do not appear on OSX Safari"
[Open #22 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/22)

![Usersnap - maps do not appear on OSX Safari](https://usersnappublic.s3.amazonaws.com/2015-10-10/14-19/0760b6ac-4d91-40cc-ab66-7df70a95e19a.png)

**Browser**: Safari 7 (Mac OS X Mavericks)
**Referer**: [https://schools.codefordurham.com/#/?lat=35.9950478&lng=-78.90066259999998&addr=100%20mai

[2015-10-10 12:29] adamajm opened #209 "Usersnap - Search bar and legend conflict visually on mobile"
**Comment**: Search bar and legend conflict visually on mobile
[Open #23 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/23)

![Usersnap - Search bar and legend conflict visually on mobile](https://usersnappublic.s3.amazonaws.com/2015-10-10/14-33/4fdb65a1-2458-46fb-90df-f123344f32cb.png)

**Browser**: Chrome 45 (Android 5.1)
**Referer**: [https://schools

[2015-10-10 12:31] adamajm opened #210 "Usersnap - Need to work on mobile visual alignment"
**Comment**: Need to work on mobile visual alignment
[Open #24 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/24)

![Usersnap - Need to work on mobile visual alignment](https://usersnappublic.s3.amazonaws.com/2015-10-10/14-31/4ae70cd3-9a0e-4c32-85af-882ee4ab9adb.png)

**Browser**: Chrome 45 (Android 5.1)
**Referer**: [https://schools.codefordurham.com/#

[2015-10-10 12:40] adamajm opened #211 "Usersnap - Menu is overridden by search and legend"
**Comment**: Menu is overridden by search and legend
[Open #25 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/25)

![Usersnap - Menu is overridden by search and legend](https://usersnappublic.s3.amazonaws.com/2015-10-10/14-40/1a18f2aa-9d67-4a79-98b1-1eecb35bee4f.png)

**Browser**: Chrome 45 (Android 5.1)
**Referer**: [https://schools.codefordurham.com/#

[2015-10-10 12:42] adamajm opened #212 "Usersnap - (Alpha) tag falls outside nav/header bar on mobile"
**Comment**: (Alpha) tag falls outside nav/header bar on mobile
[Open #26 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/26)

![Usersnap - (Alpha) tag falls outside nav/header bar on mobile](https://usersnappublic.s3.amazonaws.com/2015-10-10/14-41/c9c73c34-7e85-475d-9ec4-311aa15ab851.png)

**Browser**: Chrome 45 (Android 5.1)
**Referer**: [https://schoo

[2015-10-10 14:31] adamajm opened #213 "Usersnap - blank screen?"
**Sender**: adam.ajm@gmail.com
**Comment**: not sure what's going on but not loading
[Open #27 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/27)

![Usersnap - blank screen?](https://usersnappublic.s3.amazonaws.com/2015-10-10/16-34/8ff402c5-a402-4a26-81c2-5679ecf41ab1.png)

**Browser**: Chrome 45 (ChromeOS)
**Referer**: [https://schools.codefordurham.co

[2015-10-10 14:35] adamajm opened #214 "Usersnap - Legend - Change "District" to "Neighborhood""
**Comment**: to align with other terminology?
[Open #28 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/28)

![Usersnap - Legend - Change "District" to "Neighborhood"](https://usersnappublic.s3.amazonaws.com/2015-10-10/16-39/9867e497-c63a-44fe-8f65-9e2cddb22830.png)

**Browser**: Chrome 45 (ChromeOS)
**Referer**: [https://schools.codefordurham.com/#/?lat

[2015-10-10 14:38] adamajm opened #215 "Usersnap - Zones on Easley Magnet are confusing"
**Comment**: Multiple zones of diff types pop up. unclear why
[Open #29 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/29)
**Notes**:
 - (1) screenshot doesn't show the zones but go click on easley

![Usersnap - Zones on Easley Magnet are confusing](https://usersnappublic.s3.amazonaws.com/2015-10-10/16-42/86f222ab-6b4f-4128-a696-d5e3315b247c.png)

**Bro

[2015-10-10 14:39] adamajm commented on #213
This was a caching issue. Need to be careful about this and/or maybe give people instructions on what to do....

[2015-10-10 14:41] adamajm commented on #214
What's the difference between "District" and "Traditional Option"?

[2015-10-10 20:22] NoOutlet commented on #214
District zone designates the default neighborhood school.
If a parent desires a year round school, they can apply to that school if their house is within that schools year round zone.
Sometimes a year round school *is* the default neighborhood school. In those cases, the parents can apply to a traditional calendar school if their house is within that schools traditional option zone.

[2015-10-10 20:28] #214 closed

[2015-10-11 13:31] jtf621 commented on #202
The result is not random, it will correspond to searching maps.google.com for "2348" + "Durham County"

The call to the geocoder call does not give user feedback on the actual address returned.

[2015-10-11 13:39] jtf621 commented on #200
- tooltip font size too large, makes "Magnet" tooltip disappear

is reported in #201, lets track it there

[2015-10-11 13:41] jtf621 commented on #198
@emullaney can you look at #201 and see if you can address it?

[2015-10-16 01:00] #213 closed

[2015-10-16 01:55] adamajm commented on #198
Is this already addressed with current release when you hover over "Neighborhood" "Magnet" and "Charter"? or were you thinking something different?

[2015-10-20 21:20] lemanal commented on #127
Alpha is released. Survey is out.

[2015-10-20 21:20] #127 closed

[2015-10-20 21:38] victor-rocha commented on #206
works fine

[2015-10-20 21:38] #206 closed

[2015-10-20 21:45] lemanal commented on #166
I think it's possible that Durham GIS will have data about streets that aren't built before they're built whereas Google will not. Parents moving into new developments may need to use the drag/drop home feature rather than the text search box. Any argument to closing this as "won't fix"?

Only alternative I could think of would be to make our own geocoder using the county assessor data, but that f

[2015-10-20 21:46] lemanal commented on #166
btw I looked into this. the DPS tool links into county assessor which doesn't have a record under that parcel ID. I'm not even sure that my geocoder suggestion would even be possible.

[2015-10-20 21:56] copelco commented on #173
This might be a backend issue. Investigating it.

[2015-10-20 22:03] jtf621 commented on #166
Current behavior returns an alert "Geocode was not successful for the following reason: ZERO_RESULTS"
I agree that now that the user gets an error instead of the wrong address, the issue is fixed.

@lemanal I would close as fixed.

[2015-10-20 22:04] #166 closed

[2015-10-20 22:10] lemanal commented on #175
Yes, looks like we get two different places for this. It looks like our site, maps.google.com and mapquest disagree with gisweb.

[2015-10-20 22:20] lemanal commented on #172
This is already up thanks to @adamajm in 87f1e0647f39401db79628d421078303675f667d .

[2015-10-20 22:20] #172 closed

[2015-10-20 22:40] lemanal commented on #208
Is this just like the other one you just closed, @victor-rocha ?

[2015-10-20 22:43] lemanal opened #218 "When there are multiple addresses returned by the geocoder, give the user the option to choose between them"

[2015-10-20 22:46] lemanal opened #219 "Investigate location types returned by geocoder"
Could give users more information about vagueness for some points.

Range interpolated - this is an approximate placement of a point

[2015-10-20 22:47] copelco commented on #219
See descriptions of ``ROOFTOP`` and ``RANGE_INTERPOLATED`` here:

https://developers.google.com/maps/documentation/geocoding/intro#Results

[2015-10-20 23:42] #173 closed

[2015-10-20 23:46] #209 closed

[2015-10-20 23:46] #210 closed

[2015-10-20 23:48] #211 closed

[2015-10-21 12:40] #212 closed

[2015-10-21 12:41] copelco commented on #202
Related to #218

[2015-11-03 23:05] lemanal commented on #198
Closing this. I think that this is currently in progress with updates tracked in #201.

[2015-11-03 23:05] #198 closed

[2015-11-03 23:13] lemanal commented on #138
Closing. Merged in PR #171

[2015-11-03 23:13] #138 closed

[2015-11-03 23:16] lemanal commented on #189
@jtf621 and @copelco I think we've had this conversation before. Are Walk Zones automatic? Can you opt out?

[2015-11-03 23:45] lemanal commented on #201
@sarahsba @jtf621 @lemanal Could this text be shorter?

[2015-11-04 00:09] jtf621 commented on #204
see: http://dpsncapplication.com/site327.php

Q: What is a walk zone?
A: A walk zone is an assignment preference that allows automatic assignment to students who live within one (designated safe walking) half mile of the schools that have this preference. Burton Magnet, Club Blvd Magnet and R.N.Harris Magnet Elementary are the only schools that have this assignment preference. A walk zone is not p

[2015-11-04 00:19] jtf621 commented on #189
Assignment is automatic.  You would have to apply to another school.  Presumably, you can apply to the neighborhood school.
see: http://dpsncapplication.com/site327.php

Q: What is a walk zone?
A: A walk zone is an assignment preference that allows automatic assignment to students who live within one (designated safe walking) half mile of the schools that have this preference. Burton Magnet, Club

[2015-11-04 00:25] jtf621 commented on #204
As you move the map icon, the assigned zones are changing and the app is updating the list.  see @NoOutlet comment

[2015-11-04 00:25] #204 closed

[2015-11-04 00:35] jtf621 opened #222 "Change Neighborhood heading to Assigned"
clarify from feedback in #189

[2015-11-04 00:43] jtf621 opened #223 "Make the site accessibel to the Spanish speaking users"
Based on feedback from Cathy P.

[2015-11-04 00:46] jtf621 commented on #208
Now it works with a small lag due to cache refreshing on mac OSX Safari

[2015-11-04 00:46] #208 closed

[2015-11-04 00:52] jtf621 opened #224 "on UI advise user to check the location of the house icon after searching"
We have a few geocoding issues that are out of our control.  Warn the users to confirm location is correct.

[2015-11-04 00:53] jtf621 commented on #175
can't fix the root issue, do #224 instead

[2015-11-04 00:53] #175 closed

[2015-11-04 00:53] jtf621 commented on #165
can't fix the root issue, do #224 instead

[2015-11-04 00:53] #165 closed

[2015-11-04 00:54] jtf621 commented on #222
@sarahsba, @lemanal, and @jtf621 discussed tonight.

[2015-11-04 00:55] jtf621 commented on #219
add to #215 ?

[2015-11-04 00:57] jtf621 commented on #200
scrollbar shows up when you are scrolling only.

[2015-11-04 01:03] jtf621 commented on #205
discussed with @sarahsba and the current search page differentiates between "priority zone", "walk zone", "choice zone", "year round zone"

[2015-11-04 01:03] #205 closed

[2015-11-04 01:08] jtf621 commented on #202
Either #218 or #224 will alert the user to the issue.

[2015-11-04 01:08] #202 closed

[2015-11-04 01:11] #201 closed

[2015-11-11 16:30] adamajm opened #225 "Create flyers to raise awareness"
to distribute at schools, libraries

[2015-11-11 16:30] adamajm opened #226 "distribute flyers to schools & libraries"

[2015-11-11 17:57] adamajm commented on #226
Any comments/edits before I start making a bunch with this template (attached)?

Full page flyers: https://docs.google.com/presentation/d/1gbjEuHQkEMsaHRsjMYavawJq-SV9B40c1EEMF5bNV-o/edit?usp=sharing
Half Page flyers: https://docs.google.com/presentation/d/1NhTHeNsOzWG8VzQZWWgxZs63uzAiO_K5MhACkP3v_j0/edit?usp=sharing

Other phrases will be (goal to Drive Traffic to site):
Are you in a priority zon

[2015-11-11 19:14] adamajm opened #227 "make a contact list of real estate developers"
so we can market and get feedback from them...

[2015-11-11 19:15] adamajm commented on #225
Any comments/edits before I start making a bunch with this template (attached)?

Full page flyers: https://docs.google.com/presentation/d/1gbjEuHQkEMsaHRsjMYavawJq-SV9B40c1EEMF5bNV-o/edit?usp=sharing
Half Page flyers: https://docs.google.com/presentation/d/1NhTHeNsOzWG8VzQZWWgxZs63uzAiO_K5MhACkP3v_j0/edit?usp=sharing

Other phrases will be (goal to Drive Traffic to site):
Are you in a priority zon

[2015-11-11 19:18] adamajm opened #228 "port site over to schools.codefordurham.org"

[2015-11-18 00:04] jtf621 commented on #222
wait for UX redesign

[2015-11-18 00:06] adamajm commented on #215
We need UX feedback to know how to proceed

[2015-11-18 00:11] adamajm commented on #207
it takes a double tap to get to select on an ipad

[2015-11-18 00:11] sarahsba opened #229 "Research details on how students can transfer from one school to another"
From feedback: Little known but powerful tool. You provide transportation you can go to basically any traditional school

First look online; then maybe talk to Chrissy.

[2015-11-18 00:15] sarahsba opened #230 "Research explanation of year-round schools"
Add this information to Navigating DPS page.  How do you go to a YR school?  Which if any are also a zoned school option?

[2015-11-18 00:15] lemanal commented on #200
http://stackoverflow.com/questions/6818466/mac-os-x-lion-scrollbars-and-website-usability

[2015-11-18 00:17] lemanal commented on #189
This is related to #222

[2015-11-18 00:24] adamajm commented on #120
backlogged for after 2.0

[2015-11-18 00:24] sarahsba opened #231 "Fact check and revise information about charter schools"
feedback: including - There is some incorrect information on the page. Only 50% of teachers have to be certified (see http://news.heartland.org/newspaper-article/2013/08/02/north-carolina-cuts-teacher-certification-requirements-charter-schools). There are also for-profit companies running charter schools in NC now (see http://www.publicschoolsfirstnc.org/engage/know-the-issues/charter-schools/

[2015-11-18 00:29] lemanal commented on #150
Needs more UX input

[2015-11-18 00:29] #150 closed

[2015-11-18 00:29] sarahsba opened #232 "Fact check charter grade changes and update on is"
Central Park is now K-8
Little River is now a K-8 school, but is still listed as PK3-5

[2015-11-18 00:37] sarahsba opened #233 "Redesign layout for Navigating DPS page"
Feedback: Navigating DPS has far too much text at the first level. Each of these blurbs--neighborhood, magnet, charter, what is a walk zone, what is a priority zone, what is a choice zone--should have a one-sentence description and then a "learn more" button. Also, the categorization of these six things should be different: the first three are types of schools, the latter three are types of zones.

[2015-11-18 00:45] jtf621 commented on #153
see http://www.ncteachingconditions.org/results/report/153/62868 for teacher survey

[2015-11-18 00:45] lemanal commented on #153
* School Details
 * Total enrollment (data)
 * Availability of transportation (survey)
 * Specialty school type (Montessori, arts etc – from school website) (survey)
 * “Apply now” button for charters & magnets (link to relevant website) (survey)
 * Email and/or phone number to contact the school (survey)
* School Leadership & Teachers
 * Principal bio (school website) (survey)
 * Average years te

[2015-11-18 00:45] sarahsba opened #234 "Improve explanations of magnet zones"
Create 1 sentence leading explanation of each type of zone.  Are they only relevant for elementary zones?  Add intro on the magnet page, there are 3 ways that you can end up in a magnet:....

Look at how DPS explains magnets on the magnet site; look at how Memphis explains magnets and Strong Durham Schools. Might need to get input from Chrissy.

[2015-11-18 01:50] sarahsba opened #235 "Light up the school icon on map when you hover on the name."
Feedback: “light” up the school icon on the map when you hover over its name in the list so that it’s easier to find on the map

[2015-11-18 01:52] sarahsba opened #236 "Replace 'x' in school list with ability to close out list view with a click on the school level bar."
Enable ability to click on school level bar to open and close the view of that level (elementary etc) rather than having to click on the ‘x’

at least 1/3 of users in testing couldn't find the 'x' and tried to close the view by clicking on the bar.

[2015-11-19 01:27] adamajm opened #237 "Usersnap - alicia"
**Sender**: alicia_adrian@yahoo.com
**Comment**: just found the app via a friends Facebook post.  i applaud your mission here.  i'll probably have more than one comment.  for now,  under 'charters, it notes that the address is eligible for all charters in the county.  in truth, all addresses are eligible for all charters in the State.  I know several Durham residence that take kids to Woods Charte

[2015-11-19 01:33] adamajm opened #238 "Usersnap - central park"
**Sender**: alicia_adrian@yahoo.com
**Comment**: Central Park school for Children is a K-7 school now, will be a K-8 next year. I  believe. so for all intents it is now,a s they aren't accepting moe students for 2015-16.
[Open #31 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/31)

![Usersnap - central park](https://usersnappublic.s3.amazonaws.com/2015-

[2015-11-21 23:21] adamajm opened #239 "Usersnap - magnet lottery admissions"
**Sender**: alicia_adrian@yahoo.com
**Comment**: this document is produced by DPS every year, it's likely part of the DPS School Board Meeting notes/minutes in Oct or Nov.  A friend send and said to distribute widely... I think it's an important piece of information when deciding how to complete the lottery form.  I would love to see something similar for charters, but i don't know that they have

[2015-11-23 13:43] lemanal commented on #239
@sarahsba Did you get survey data about people wanting access to lottery statistics?

[2015-11-24 22:01] sarahsba opened #240 "Improve search engine optimization for site"
as part of this, we should consider giving the website a new url that is doesn't have code for durham in it and is easier for people to remember.

[2015-11-25 13:44] lemanal commented on #240
@adamajm @copelco how does this request fit in with overall CfD branding?

[2015-12-01 23:24] lemanal commented on #240
@adamajm @copelco  !!!

[2015-12-02 00:44] sarahsba commented on #239
This is awesome.  I've uploaded the pdf to the School Navigator google drive and emailed Alicia to find out where this information is posted.

[2015-12-02 01:02] #238 closed

[2015-12-02 01:06] sarahsba opened #241 "Change title of Navigating DPS to Navigating Durham Schools"
or another name if we can come up with something shorter.  A user commented that Navigating DPS suggests that all the content in the section is for DPS schools when the charters are not part of the system.  It's a fair point.

[2015-12-15 23:25] mianwu commented on #234
I am working on this.

[2015-12-15 23:26] jtf621 commented on #234
The Memphis site is http://memphisschoolguide.org/

[2015-12-15 23:29] jtf621 commented on #234
This link may be helpful http://www.dpsnc.net/pages/Durham_Public_Schools/District/About_DPS/District_Policies/Series_4000_-_Student_Services/4131

[2016-01-12 23:40] sarahsba opened #242 "Determine need for "traditional option" zone outline"
it looks to me like the "traditional option" (the purpose outline) is always the same as the "neighborhood" outline.  If this is true, then the purple outline is not necessary and we can eliminate it from the key.

[2016-01-12 23:42] sarahsba commented on #230
YR schools are all magnets.  They follow the same application process as other magnets.  Students within the YR magnet zone still have to apply.  They are not guaranteed a spot in the school.  They are not eligible to even apply, though, if they're not in the zone.

[2016-01-13 00:33] #242 closed

[2016-01-13 00:41] sarahsba commented on #242
Traditional option appears when a house is districted for a year-round school.  Then the non-year-round school will appear with the traditional option outline for its zone.

[2016-01-13 01:15] sarahsba commented on #233
James is working on this.  Does he have a profile on github?

[2016-01-13 01:18] sarahsba opened #243 "Include information about how to transfer"
Recommendation from survey: "HOW TO TRANSFER. Little known but powerful tool. You provide transportation you can go to basically any traditional school."  We should find out where this information exists on the DPS site and at least link to it on the Navigating DPS page.

[2016-01-13 01:22] sarahsba opened #244 "open school website in a new tab when clicking on it."
right now when you click on the school website in the short blurb about the school, it opens in the same tab.

[2016-01-13 01:25] #239 closed

[2016-01-13 01:32] sarahsba opened #245 "Improve explanations/intuition of all the zone types on the map"
This will need some good thought, but we go a lot of feedback from users that the current color scheme is confusing:

I don't undersand what the color key on the right side is for.

The color key to the top right of the screen indicates neighborhood/traditional/year round/etc. After I entered an address, three schools came up: elementary (green=walk?), middle (light blue=year round?), and high (da

[2016-01-13 01:36] sarahsba opened #246 "Enable users to click on school icon in list and reorient the map to make that school visible."
Surveys showed that it is sometimes difficult for users to find a given school on the map.

Suggestion, low priority: Add ability to click on the circle icon for a school in the dropdown list, and have the map shift so that the school becomes visible on the map.

[2016-01-15 21:58] sarahsba opened #247 "Edits for Sample Profile"
The sample profiles looks great.  I've made some tweaks in the attached doc - things in the google doc that were changed/added after creating the wireframe.  Sorry these weren't as clear as they should have been in the first round.  All changes are in red in the doc called Edits to Sample Profile: https://drive.google.com/drive/folders/0BzzdkaFnyRitcGhBQ0tmdi0yenc

[2016-01-25 21:14] qkombur commented on #236
This [branch] (https://github.com/codefordurham/school-navigator/compare/issue-236
) implements the feedback  but there is some quirks that I still need to iron out.

For instance clicking on a school's name will open up all the schools in the list.
Also once you close a school the others will stay open. Just to name a few.

[2016-01-26 22:57] lemanal commented on #228
we're up on http://durhamschoolnavigator.org

[2016-01-26 22:57] #228 closed

[2016-01-26 23:01] lemanal opened #248 "Fix usersnap on new domain"

[2016-01-26 23:03] #248 closed

[2016-01-27 04:30] NoOutlet commented on #247
I just committed these edits in cc16b4a

[2016-01-27 04:30] #247 closed

[2016-01-29 03:04] sarahsba opened #249 "Add website to the listview of schools on the admin page"
Hey Victor - could you do this?  It will make manually pulling info from the sites much easier. thanks!

Add the website field and remove the photo field to the listview here: https://durhamschoolnavigator.org/admin/schools/school/

[2016-02-09 20:12] sarahsba opened #250 "Update School Names using official name"
this can be done while pulling the manual info from the school websites.

[2016-02-09 20:15] sarahsba opened #251 "Determine whether one of the W.G. Pearson entries should be deleted"
W.G. Pearson IS LISTED 2X and it looks like the school may be closed entirely.  Determine whether school is still operating as a magnet or a neighborhood school, and delete the other.

[2016-02-10 00:32] #241 closed

[2016-02-10 01:04] jtf621 commented on #251
Looks like it is now a Magnet Elementary  http://pearson.dpsnc.net/pages/Pearson_Magnet_Elementary.

The middle school is set to inactive and will not show up in the site.

[2016-02-10 01:07] jtf621 commented on #251
Fixed type to magnet

see http://www.dpsnc.net/pages/Durham_Public_Schools/Parent_Resources/CIA/Magnet_Schools/School_Informtion/Elementary_Schools/W__G__Pearson_STEAM_and_GT_Ele

[2016-02-10 01:07] #251 closed

[2016-02-10 01:47] #246 closed

[2016-02-10 01:52] #244 closed

[2016-02-24 01:39] #236 closed

[2016-03-09 02:37] #245 closed

[2016-03-09 19:37] adamajm opened #253 "Usersnap - 13131"
**Sender**: None
**Comment**: wdew
[Open #33 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/33)
**Notes**:
 - (1) rggrsg srfg es

![Usersnap - 13131](https://usersnappublic.s3.amazonaws.com/2016-03-09/20-36/e2ebbd51-2c58-4367-8ee6-ea1bcd0a8c5d.png)

**Browser**: Firefox 44 (Windows 8.1)
**Referer**: [https://durhamschoolnavigator.org/#/navigating](https

[2016-03-11 15:49] mema82 commented on #222
Is this waiting on something else for this to be merged into the frontend? I see its merged but not updated on live site? Thanks!

[2016-03-15 20:21] sarahsba opened #254 "add Research Triangle High School"
this is a charter school in Durham that isn't appearing in the list.

[2016-03-17 21:19] adamajm opened #255 "Usersnap - I like this summary - but I wish it had something about the scores to make [...]"
**Sender**: miranda.l.freeman@gmail.com
**Comment**: I like this summary - but I wish it had something about the scores to make them more understandable to parents. They will click over to scores and see a "c" - but what does that mean?  I've seen research into displaying these scores that provides context for them - either in terms of performance compared to other schools in the district or in te

[2016-03-17 21:22] adamajm opened #256 "Usersnap - The lunch and breakfast section might include the option of specifying tha[...]"
**Sender**: miranda.l.freeman@gmail.com
**Comment**: The lunch and breakfast section might include the option of specifying that a free and reduced lunch program exists, or that breakfast is free to all students.
[Open #35 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/35)

![Usersnap - The lunch and breakfast section might include the option of specify

[2016-03-19 02:18] sarahsba opened #257 "Improve opening and closing mini profiles"
On homepage: https://durhamschoolnavigator.org/#/
When a school is selected and the mini-profile is open, getting back to the list view is difficult. Currently, you must click again on the Title for that school to get to the list. Goal would be to enable ability to click elsewhere to close the mini-profile - for example, on the title of the Grade Category (e.g. Elementary) or the school type categ

[2016-03-19 02:21] adamajm opened #258 "Usersnap - Bug with viewing school names"
**Sender**: sarah.sba@gmail.com
**Comment**: If I click into a mini profile under Charters and then click "Magnets" or "Neighborhood" without first clicking out of the mini profile view, I can't see any of the schools under Magnet or Neighborhood.
[Open #36 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/36)

![Usersnap - Bug with viewing school names](h

[2016-03-19 02:27] sarahsba opened #259 "Link full profiles to mini profiles in map view"
Replace school website in mini profile with a hyperlink to "View school profile" and have the profile open in a new tab.  Julie Grundy (our design expert) also recommended having the school name link to the profile if clicked. We may also want to enable a link to the profile when you click on the school's icon on the map.

[2016-03-19 02:36] sarahsba opened #260 "Center map on target school"
When you click on a school name and the mini profile pops up, can we re-orient the map so that the relevant school appears as the center of the map at an appropriate zoom level.  Right now, it can be difficult to connect the location of a school to it's name when you're looking at the list view.  This was Julie's recommendation.

[2016-03-19 02:42] sarahsba opened #261 "Give zone key a header and show it only where needed"
Can we name the zone key on the map "Magnet Zone Types" and only have it appear when you click on the magnet category since it's not relevant for charters and all the neighborhood schools have a "neighborhood" zone which is intuitive?

[2016-03-19 02:48] sarahsba opened #262 "Remove pink outline on Year Round schools"
Since we're including the calendar type in the profile, can we remove the pink outline on the map for year-round schools? It's confusing along with all the other colors, and am not sure it's important enough to warrant inclusion on the map view.

[2016-03-22 16:35] mema82 commented on #224
Is this still an open issue?

[2016-03-22 21:16] sarahsba opened #263 "Recommended Changes to the Profile"
Based on feedback from school administrators and design professional: tracked changes in the google drive: Sample School Profile Edits v2 https://drive.google.com/drive/folders/0BzzdkaFnyRitcGhBQ0tmdi0yenc

[2016-04-05 23:19] Shea-Wolfe opened #264 "Allow users to enter a school to see its zones."
Some users are going to be moving in from out of town and they will prefer to enter a school of their choice and be shown the zones for it, rather than entering where they live and getting available schools.

[2016-04-05 23:22] Shea-Wolfe opened #265 "W.G. Pearson S.T.E.A.M. neighborhood does not cover the school"
The black bordered neighborhood zone for W.G. Pearson STEAM is located several blocks north of the school itself.  It is possible that is correct but appears it may be a bug.

[2016-04-05 23:26] sarahsba opened #266 "New option for theme question"
Can we add this as an option to the school theme question

Not Applicable - our school is for students of all backgrounds and interests

[2016-04-15 03:09] sarahsba opened #267 "Idea for address verification in survey"
what if we included an extra field for updated address that wouldn't automatically change the address on the map but that would notify us when we have incorrect info.  so in the survey, we could havea question that said "please verify whether this address is correct [insert un-editable address]" Yes / No.  "If you selected no, please insert the correct address here:" []

[2016-04-15 03:25] sarahsba opened #268 "Edits for Profile Page"
[Sample Profile Edits v2.docx](https://github.com/codefordurham/school-navigator/files/220309/Sample.Profile.Edits.v2.docx)

[2016-04-15 03:28] sarahsba opened #269 "Update School Guide page"
use this template to update the School Guide page: https://durhamschoolnavigator.org/#/navigating

[Navigating Durham Schools - About Page v2.pptx](https://github.com/codefordurham/school-navigator/files/220313/Navigating.Durham.Schools.-.About.Page.v2.pptx)

[2016-04-19 22:38] rosalsm opened #270 "Map in mobile view"
Adding a map underneath the schools in the mobile view.

[2016-04-21 00:07] sarahsba opened #271 "Change PTA to PTA/PTO"
We need to update this at Chrissy's request in the survey and in the profile template.

PTO = Parent Teacher Organization

[2016-04-25 01:06] dsummersl commented on #149
I've created a page that based on the DPS page. Here are screenshots: http://imgur.com/a/zRG12

Any feedback for styling?

[2016-04-25 01:07] dsummersl commented on #149
PR is here: https://github.com/codefordurham/school-navigator/pull/272

[2016-04-28 20:49] jtf621 commented on #266
Fixed in 6252e11a

[2016-04-28 20:49] #266 closed

[2016-04-28 21:13] lemanal opened #273 "Setup Amazon SES for email"

[2016-04-28 21:13] lemanal opened #274 "QA & Testing placeholder"

[2016-04-28 21:13] lemanal opened #275 "Resend Survey Admin Action"

[2016-04-28 21:14] lemanal opened #276 "Submit Date of None for unsubmitted surveys"

[2016-04-28 21:14] lemanal commented on #276
Most values are copied from previous surveys. This should not be and should not be autonow=True

[2016-04-28 21:15] lemanal opened #277 "Make sure POST API calls don't allow editing models"
Models can only be changed by forms not API

[2016-04-28 21:22] #271 closed

[2016-04-28 21:24] lemanal commented on #274
Test:
* Create survey
* Send survey
* Resend survey

[2016-04-28 21:36] lemanal opened #278 "Is school profile in serializer coming from Serializer profile or model profile fields?"
Which one is getting used? Remove the other one.

[2016-04-28 21:47] #276 closed

[2016-04-28 21:50] lemanal commented on #275
Only resend surveys that are still open

[2016-04-28 22:07] sarahsba opened #279 "update fields in survey to following responses"
**For all district and magnet schools, update the survey to the following responses:**
• Transportation: Transportation is available for ALL students.
• Breakfast served: Breakfast is available for ALL students
• Breakfast free and reduced:  YES
• Lunch served: Lunch is available for ALL students
• Lunch free and reduced:  YES

**For all district schools, update the following:**
Admissions policy

[2016-04-28 22:14] sarahsba opened #280 "Instructions for top of survey"
**Survey Instructions**
	• You can complete the survey in multiple sittings and share the link with others.  Just be sure to click SAVE at the bottom of the survey each time you work on it.
	• You can view the saved information entered in the survey on your school's profile here: [**profile link**].  Only those with this link can view the profile right now.
	• Please complete the survey by [**date

[2016-04-28 22:20] jtf621 opened #281 "Add defaults to school profile for all required fields"
grade_min, grade_max are known issues

[2016-04-28 22:21] lemanal commented on #149
This works great. Thanks @dsummersl ! Closing this out.

[2016-04-28 22:21] #149 closed

[2016-04-28 22:21] #275 closed

[2016-04-28 22:22] lemanal commented on #273
Emails are working! Yay! @copelco , will we get errors about bounced emails etc?

[2016-04-28 22:24] #151 closed

[2016-04-28 22:26] lemanal commented on #277
@jtf621:
Set the policy
http://www.django-rest-framework.org/api-guide/permissions/#setting-the-permission-policy
To IsAdminUser
http://www.django-rest-framework.org/api-guide/permissions/#isadminuser

[2016-04-28 22:43] jtf621 commented on #277
fixed in 2476194af137b27c13377b526b60ae9677bab105

[2016-04-28 22:52] lemanal commented on #277
c4e056d2df703a922e7f8ac470323d5f1221da02

[2016-04-28 22:52] lemanal commented on #277
@jtf621 Not seeing this.

[2016-04-28 22:55] lemanal commented on #277
LTGM Thanks @jtf621

[2016-04-28 22:55] #277 closed

[2016-04-28 23:06] jtf621 commented on #281
fixed in 4e5c3e04895dbd8662822174e1441aa9cc2a2200

[2016-04-28 23:06] #281 closed

[2016-04-28 23:09] jtf621 opened #282 "Update school profile email template"

[2016-04-28 23:10] lemanal commented on #282
Dear [Principal name],
Following the recent presentation by Chrissy Deal about School Navigator at your May 3rd meeting, we are writing to request your help.  In partnership with Durham Public Schools, the PTA Council, and Durham parents, we at Code for Durham are creating a resource to help families understand the city's public school landscape.  The site will help families identify their zoned s

[2016-04-28 23:28] #280 closed

[2016-04-28 23:28] #282 closed

[2016-04-29 00:41] #279 closed

[2016-04-29 00:48] jtf621 opened #283 "Show errors on save to school profile prominently at top of screen"
Now when you hit save, the form reloads and any errors are note explicit.

[2016-04-29 00:48] lemanal commented on #278
Not an issue. both the model .profile and serializer .profile are needed.

[2016-04-29 00:48] #278 closed

[2016-04-29 00:49] jtf621 opened #284 "make lottery_deadline widget a date picker in the survey"

[2016-04-29 01:11] #283 closed

[2016-04-29 02:28] jtf621 commented on #274
I have done all three for school/247 and it was working by 9:30 tonight.

Let’s get a second look for another school now that it is working.  (keep active=False to prevent it from showing in the map interface)
On Apr 28, 2016, at 5:24 PM, Alexander Lemann <notifications@github.com> wrote:

[2016-04-29 02:34] jtf621 opened #285 "Mark "coming soon" on profile page"
For sections:
- Teacher Satisfaction
- Reflections
- State Report Card
- Acceptance rate (in Admission Policy section)

[2016-04-29 11:52] jtf621 opened #286 "Make PTA url in school profile absolute, not relative to https://durhamschoolnavigator.org"
in https://durhamschoolnavigator.org/#/school/247/ you get

https://durhamschoolnavigator.org/www.pta.website

not
www.pta.website

[2016-04-29 11:54] jtf621 opened #287 "Implement State Report Card url for each school in school profile"
`To view the state report card for this school, click here.` link should point to most recent available school report card for each school.

[2016-04-29 12:04] jtf621 opened #288 "Fix point of pride 2 in school profile"
In frontend/app/templates/details.html, line 24 point of pride 2 incorrectly points to school.profile.points_of_pride3
`<li data-ng-show="school.profile.points_of_pride2">{{ school.profile.points_of_pride3 }}</li>`

[2016-04-29 12:11] jtf621 opened #289 "Add school_hours to the SchoolProfileForm in the Basic Facts section"

[2016-04-29 12:15] jtf621 opened #290 "make school.profile.learn_more_link a url in school profile"
url = school.profile.learn_more_link
text = Learn more about the admission process and apply

[2016-04-29 12:19] jtf621 opened #291 "Make urls embedded in survey responses clickable on school profile page"

[2016-04-29 12:21] jtf621 opened #292 "Preserve line breaks in long survey text responses on school profile"
for example mission statement, principal bio are long enough should have <p> tags possible

[2016-04-29 12:33] jtf621 opened #293 "Implement Teacher Satisfaction survey in school profile"
@jtf621 has some data gathering scripts underway

[2016-04-29 12:40] jtf621 commented on #274
I looked at the School profile and survey with fresh eyes and added issues:
- #284
- #285
- #286
- #287
- #288
- #289
- #290
- #291
- #292
- #293

[2016-04-29 12:43] jtf621 commented on #268
@sarahsba can we close this based on the profile work that was done over the last 2 weeks and the need for specific feedback on the implementation now?

[2016-04-29 12:45] jtf621 commented on #263
@sarahsba can we close this based on the profile work that was done over the last 2 weeks and the need for specific feedback on the implementation now?

[2016-04-29 12:47] jtf621 commented on #265
Can someone review this to see if the data is accurate based on the official DPS maps?

[2016-04-29 12:49] jtf621 commented on #256
Implemented in the profile and survey

[2016-04-29 12:49] #256 closed

[2016-04-29 12:50] jtf621 commented on #250
@sarahsba is this still an issue?

[2016-04-29 12:51] jtf621 commented on #253
Not clear on the issue.  Please reopen with more details.

[2016-04-29 12:51] #253 closed

[2016-04-29 13:09] jtf621 commented on #249
@sarahsba is this still needed based on the school survey process of adding info to the school profile?

[2016-04-29 13:14] jtf621 commented on #240
@sarahsba @adamajm @copelco @lemanal

We are now durhamschoolnavigator.org, is there any more to do, or can we close this out?

[2016-05-03 21:34] lemanal opened #294 "Fill in [date] placeholder in survey email template"
See [date] in:
https://github.com/codefordurham/school-navigator/blob/master/school_navigator/templates/survey_email.txt

[2016-05-03 21:40] lemanal commented on #291
@copelco suggests rendering the field with markdown

[2016-05-03 21:43] lemanal commented on #290
Make it clickable.

[2016-05-03 21:46] #288 closed

[2016-05-03 21:54] lemanal commented on #222
Good point @mema82 , took it a little bit to make it to production, but it's up. Thanks!

[2016-05-03 21:54] #222 closed

[2016-05-03 22:06] #294 closed

[2016-05-03 22:08] #290 closed

[2016-05-03 22:14] victor-rocha commented on #291
what fields would need markdown?

[2016-05-03 22:15] jtf621 commented on #289
fixed with 00d4b08fefc5

[2016-05-03 22:15] #289 closed

[2016-05-03 22:18] lemanal commented on #286
@victor-rocha could this be fixed with linky? https://docs.angularjs.org/api/ngSanitize/filter/linky

[2016-05-03 22:20] sarahsba opened #295 "open school website in separate tab"
On the schools page (https://durhamschoolnavigator.org/#/schools), can we make the school website open up on a separate tab when you click on the school name?  Right now it opens up in the same tab and so takes you away from School Navigator.

[2016-05-03 22:21] lemanal commented on #292
Maybe https://docs.djangoproject.com/en/1.9/ref/templates/builtins/#linebreaksbr ?

[2016-05-03 22:25] jtf621 commented on #291
I suggest: mission_statement, transportation_explanation, breakfast_explanation, lunch_explanation, extended_care_financial_assistance, & parental_involvement_notes

[2016-05-03 22:27] lemanal commented on #291
Markdown was just a quick way of possibly fix this. It might introduce other problems like confusion when people accidentally use some markdown scripts.
Not sure if linky would do instead.

[2016-05-03 22:29] #286 closed

[2016-05-03 22:36] victor-rocha commented on #295
The issue is that it takes you to the shcool website, this should take you to the school profile instead.

[2016-05-03 22:38] sarahsba opened #296 "Magnet application link appearing where acceptance rate should"
On the profile, the link to learn more about the application process is currently appearing where the acceptance rate should.  The link should connect instead to the green "learn more" button.

[2016-05-03 22:39] sarahsba commented on #295
agree that taking you to the profile instead of the school website would be ideal.  either way, though, it should open in a separate tab.

[2016-05-03 22:41] victor-rocha commented on #295
I hate websites that open new tabs when you click on things (unless is absolutely neccessary). Are you sure you want to open a new tab and increase the number of open tabs on our users browser?

[2016-05-03 22:44] sarahsba commented on #295
sure, if it's the school profile which is still part of our site, i don't think it needs to be opened in a new tab.

[2016-05-03 22:45] victor-rocha commented on #295
cool

[2016-05-03 22:45] #295 closed

[2016-05-03 22:58] #296 closed

[2016-05-03 23:28] drumslayert commented on #284
I'll grab this issue

[2016-05-03 23:41] jtf621 commented on #284
@drumslayert see https://durhamschoolnavigator.org/survey_form/jnVKv0xgly/ for a sample form.

[2016-05-03 23:49] copelco commented on #273
Bounces are now sent to our group email address

[2016-05-03 23:49] copelco commented on #273
Maybe we should lock down the google group..

[2016-05-04 01:24] jtf621 commented on #292
@victor-rocha I am getting errors using the angular $sce.trustAsHtml approach you found.  Let's talk it through next chance we get.

[2016-05-04 02:07] jtf621 commented on #292
I think I got it see pull request

[2016-05-05 03:31] adamajm opened #298 "Create site analytics page using GA's embed API"
create simple analytics page to show traffic (users, pageviews, sessions) and % new vs returning users in set time periods using https://ga-dev-tools.appspot.com/embed-api/

[2016-05-05 03:37] adamajm commented on #298
https://ga-dev-tools.appspot.com/embed-api/third-party-visualizations/

[2016-05-13 17:20] sarahsba commented on #268
Yes!

[2016-05-13 17:20] #268 closed

[2016-05-13 17:58] sarahsba opened #299 "Final profile suggested edits"
This looks great!  I love what you did with the "coming soon" for the teacher satisfaction data.  Here are a few final minor edits:

- Free and Reduced Lunch/Breakfast: if a school selects "No", the profile should read, "This school does not participate..." Right now it reads, "This school does not participateS.."

- Extended Care: Can we use the following responses:
          If YES to before and

[2016-05-17 21:23] lemanal commented on #274
There have been lots of eyes on Phase 2. Closing this out. Add more specific tickets as needed.

[2016-05-17 21:23] #274 closed

[2016-05-17 21:24] lemanal commented on #284
@drumslayert do you have an update on this issue?

[2016-05-17 21:27] lemanal commented on #273
The group only allows members to read posts. Let's leave it that way and close this out. Sound good @copelco ?

[2016-05-17 21:27] #273 closed

[2016-05-17 22:08] victor-rocha commented on #299
@sarahsba missing the message for when the school doesn't offer neither before nor after care

[2016-05-17 22:10] jtf621 commented on #299
try: This school does not offer before or after care.

On May 17, 2016, at 6:08 PM, Victor Rocha <notifications@github.com> wrote:

[2016-05-17 22:11] #299 closed

[2016-05-17 22:18] victor-rocha commented on #299
I didn't see your comment until now... I coded "This school does not offer extended care."

[2016-05-17 22:27] #285 closed

[2016-05-17 22:34] jtf621 commented on #299
OK
On May 17, 2016, at 6:18 PM, Victor Rocha <notifications@github.com> wrote:

[2016-05-17 22:45] jtf621 commented on #292
fixed via 217d9849d3e1

[2016-05-17 22:45] #292 closed

[2016-05-17 22:46] lemanal commented on #189
This is fixed now that #222 is closed.

[2016-05-17 22:46] #189 closed

[2016-05-17 22:47] lemanal commented on #139
Survey went out. Closed.

[2016-05-17 22:47] #139 closed

[2016-05-17 22:48] lemanal commented on #181
Profile is up. Closing.

[2016-05-17 22:48] #181 closed

[2016-05-17 22:49] lemanal commented on #182
Survey was analyzed. Closing.

[2016-05-17 22:49] #182 closed

[2016-05-17 22:52] jtf621 commented on #200
The scrolling works and is standard behavior on OSx

[2016-05-17 22:52] #200 closed

[2016-05-17 22:52] lemanal commented on #183
This was used in Phase 2 planning.

[2016-05-17 22:52] #183 closed

[2016-05-17 23:00] jtf621 commented on #207
Double tap works to select

[2016-05-17 23:00] #207 closed

[2016-05-17 23:00] lemanal commented on #258
This is working for me. Are you still seeing it @sarahsba ? I'm going to close this for now. Please try it again and reopen if needed.

[2016-05-17 23:00] #258 closed

[2016-05-17 23:03] jtf621 commented on #243
see #229

[2016-05-17 23:04] jtf621 commented on #229
duplicate of #243

[2016-05-17 23:04] #229 closed

[2016-05-17 23:06] jtf621 commented on #249
superseded  by school profile

[2016-05-17 23:06] #249 closed

[2016-05-17 23:08] jtf621 commented on #263
profile is implemented.  Please reopen any specific issues that are in production.

[2016-05-17 23:08] #263 closed

[2016-05-17 23:09] jtf621 commented on #240
We are now durhamschoolnavigator.org, please reopen any specific remaining issues

[2016-05-17 23:09] #240 closed

[2016-05-17 23:10] jtf621 commented on #250
We will address any feedback on school name from the survey process

[2016-05-17 23:10] #250 closed

[2016-05-17 23:11] jtf621 commented on #232
The school profile survey process will update the grade range.

[2016-05-17 23:11] #232 closed

[2016-05-17 23:16] jtf621 commented on #235
repalced by #260

[2016-05-17 23:16] #235 closed

[2016-05-17 23:20] lemanal commented on #269
@sarahsba is this ready to be implemented?

[2016-05-17 23:34] jtf621 commented on #97
We will need get photos from DPS and the Charter schools and manually add them in the admin interface

[2016-05-17 23:38] jtf621 opened #300 "Find principal email addresses on school websites"
look at school websites to find  email addresses and names of principals for all neighborhood and magnet schools.  Put in google spreadsheet here: https://docs.google.com/spreadsheets/d/1gr02srutkAGRPPLaiTMnD32hiAmDVklEPB7mOABOh4M/edit#gid=0

[2016-05-17 23:46] lemanal commented on #291
@gturmel https://docs.angularjs.org/api/ngSanitize/filter/linky

[2016-05-18 00:04] #225 closed

[2016-05-18 04:58] sarahsba commented on #258
yep, it looks like it's fixed.

[2016-05-18 05:00] sarahsba commented on #300
We have most of the charter ones.  Will need to look up the remaining charters manually.

I don’t have all the principals but do have most ( missing KIPP Durham, Healthy Start and Research Triangle Academy):

Agatha Brown <info@globalscholarsacademy.org>,
Yvette Munroe <yvette.munroe@theidylschool.org>,
Pamela Blizzard <pblizzard@rthighschool.org>,
Jennifer Lucas <jlucas@voyageracademy.net>,
Cynth

[2016-05-18 05:03] sarahsba commented on #269
yes.

[2016-05-18 05:08] sarahsba opened #302 "All schools appear as year-round"
All schools in the map view list appear as year round (ie with the pink circle around the school icon.)

[2016-05-18 13:03] lemanal commented on #226
See #225 for flyers.

[2016-05-18 21:01] gturmel commented on #291
I've added the linky filter to the fields that jtf621 recommended. It works, but it's also throwing some serious errors in the console.

[2016-05-22 14:58] adamajm opened #304 "Usersnap - UI: Need a TOC or links to all different sections"
**Sender**: adam.ajm@gmail.com
**Comment**: School Profile needs a quick list/overview at teh top of the different sections below, so parents can see what all info we have collected, and so they can skip to section of most interest. Secondly, then, we can also track which categories people are clicking on the most for later tweaking of UI
[Open #37 in Usersnap Dashboard](https://usersnap.com/a/#/c

[2016-05-31 17:58] sarahsba opened #305 "Separate Elementary & Middle Central Park School for Children Charter into 2 schools"
Right now, CPSC is listed as a single schools, but it's actually 2.  We need to create 2 separate profiles, one for the elementary and one for the middle school:

1. Central Park School for Children (Elementary):
Address: 724 Foster Street, Durham, NC 27701
Grades: K-4
Principal Email: john@cpsfc.org

2. Central Park School for Children (Middle):
Address: 121 Hunt Street, Durham, NC 27701
Grades:

[2016-05-31 18:04] sarahsba opened #306 "Add Research Triangle High School to the School and School Profile databases"
**Need to get admin access to durhamschoolnavigator.org in order to complete this task.**

We are currently missing Research Triangle High School.  It is DIFFERENT from Research Triangle Charter Academy.

#School Page
School Name: Research Triangle High School
School Type: Charter
Address: 3106 E. NC54, Research Triangle Park, NC 27709
Principal email: pblizzard@rthighschool.org

#School Profile
L

[2016-05-31 18:16] sarahsba opened #307 "Create Reminder Email to send out to principals"
Create a reminder email that works for both charters and district schools that is used with the "Resend Survey" button.

[2016-05-31 18:18] sarahsba opened #308 "Update survey email so it works with charters"
Discuss with Jeremy & Alex whether we can create 2 separate emails for charter and district since intro to each will be different.  Perhaps it's just an intro line that differs by school type?

[2016-05-31 18:24] sarahsba opened #309 "Add Principal Name to SchoolProfile Admin View"
We need to add a field for the principal name in the school profile admin view for each school (i.e. https://durhamschoolnavigator.org/admin/schools/school/246/) so that we can enter the principal name and email for sending out the survey.

[2016-05-31 22:49] jtf621 commented on #308
@sarahsba please write the copy for the Charter school email.

[2016-06-01 00:31] sarahsba commented on #262
There is currently a pink outline around ALL of the school icons that appear in the listview for the map.  We need to remove this.

[2016-06-01 00:41] sarahsba commented on #269
@lemanal and @jtf621 - can we add this to the list of civic hack day tasks?

[2016-06-01 01:02] sarahsba commented on #233
@jruggiero32 has created a mock up for the Navigating DPS (now called School Guide) page.  See issue #269

[2016-06-01 01:03] sarahsba commented on #231
The revised School Guide page addresses this.  See #269 .  We can close this issue.

[2016-06-01 01:04] sarahsba commented on #234
The revised School Guide page that @jruggiero32 created addresses this.  See #269 .  We can close this issue.

[2016-06-01 01:34] sarahsba commented on #305
HOLD on this for now.  We've realized this is an issue for several of the charters and are following up with the Collaborative to get their input before proceeding further.

[2016-06-01 01:36] adamajm opened #310 "Create Roadmap for Wake County Replication"
Review documentation and backlog from School Navigator, fork the code, and hack out a checklist of the first 20 things you would need to do to replicate School Navigator for Wake County Schools. Separate tasks into Community Partnerships, Data Gathering, Backend, FrontEnd

[2016-06-01 01:38] sarahsba commented on #287
@jtf621 - could we ask ppl to collect a list of all the state report card links at civic day of hacking?  Let me know and I can add more detail to this.

[2016-06-01 01:42] sarahsba commented on #270
@lemanal and @victor-rocha - is this an issue someone could work on at Civic Hacking Day?

[2016-06-02 17:58] lemanal commented on #269
@sarahsba sure. Added it to the milestone.

[2016-06-02 18:00] lemanal commented on #233
@sarahsba great. Can this ticket get closed if it's already covered elsewhere?

[2016-06-02 18:01] #234 closed

[2016-06-03 21:00] sarahsba commented on #308
See email for charters here: https://docs.google.com/document/d/1rJZSTtX2x12rB0RRceC0PIVBRGMl6jFoxYvTAKGANds/edit

We should use this as the survey email for now and can swap it out when we send it to the districts.

[2016-06-03 21:20] #233 closed

[2016-06-04 15:47] dpeasley2213 commented on #260
I'll start taking a look at this but if someone else wants to jump-in then feel free.

[2016-06-04 16:12] arbianchi commented on #243
We suggest creating a new "Transfers" section in the School Guide and link to the following pages:

1) Process for applying for transfer:
https://durhamschoolnavigator.org/#/navigating/neighborhood

2) Application for Transfer forms:
http://durham.schoolwires.net/domain/107

3) Policies related to transportation, etc. for transfers:
http://www.dpsnc.net/site/default.aspx?PageType=3&DomainID=112&Mo

[2016-06-04 16:12] #243 closed

[2016-06-04 17:06] RolfBates commented on #287
Is [this the homepage](http://www.ncpublicschools.org/src/) for the report cards? They link out to a [flash web app here](https://ncreportcards.ondemand.sas.com/landing.html). I'm not finding any url/query parameters to link directly to a specific school in that web app. Is there another way to access the data?

[2016-06-04 17:09] alexlemann commented on #269
![screen shot 2016-06-04 at 1 07 59 pm](https://cloud.githubusercontent.com/assets/46069/15800969/70ff1e14-2a55-11e6-8ad0-d428ad37fce3.png)

Here's Navigating Durham Schools - About Page v2.pptx as an image so other people without powerpoint can see it

[2016-06-04 18:02] RolfBates commented on #287
Nevermind, I found a pdf version with a unique url. (Example here)[https://ncreportcards.ondemand.sas.com/snapshots/740302_2015_K-8-School.pdf].

[2016-06-04 18:40] #309 closed

[2016-06-04 18:40] schpatel commented on #227
Per the North Carolina Real Estate Commission website there are 225 real estate firms in Durham County
[http://www.members-base.com/ncrec/oecgi3.exe/O4W_BROKERS_BY_FIRM_NEW](url)

The search returns the name and address for all firms but no e-mail address. I sent them a request asking if they could send a spreadsheet with the required info to us or if they could forward our information to real est

[2016-06-04 18:43] adamajm opened #312 "Usersnap - Traditional School Zone"
**Comment**: Glenn Elementary has a "Traditional" school zone in addition to the "Neighborhood" zone, the former of which is not clearly defined.
[Open #38 in Usersnap Dashboard](https://usersnap.com/a/#/code-for-durham/p/school-navigator-38602a3a/38)

![Usersnap - Traditional School Zone](https://usersnappublic.s3.amazonaws.com/2016-06-04/20-41/e93d447c-5c7c-4f86-863d-f73b277afd4f.png)

**Browser

[2016-06-04 19:14] BobbyBarbeau commented on #300
https://docs.google.com/spreadsheets/d/1QSeW_IdPB1nqrpunq_GOFyK2UYll1yCax0PBfTgiCiA/edit?usp=sharing

Sheet2 in the above spreadsheet contains school names, urls, principal names, and email addresses.

I was *not* able to do this programmatically as I'd hoped; the "About Us" page for each school was easy enough to generate URLs for. However, the actual data was contained in a frame, whose URL was

[2016-06-04 19:27] elynch commented on #257
UX suggestion: instead of hiding the blurbs of the school when showing the mini-profile, still show the school names. This way the user can still see the list of available schools without having to close the mini-profile.

[2016-06-04 21:41] dpeasley2213 commented on #260
The code changes in in the develop branch and will need a review before merging. I originally wanted to move the focus() call inside the toggleSelectSchool() call but the simple add didn't seem to work. Another developer thought this 'two calls' approach made enough sense to just go with it.

[2016-06-04 23:54] ammraleigh commented on #269
Hey.
I made the requested changes.
However I meant to push the update to a branch for review but by mistake it went on master.
How would you like to handle this?
Want me to put back the original and then correctly put it the changes on a branch?
Ann

[2016-06-05 01:05] BobbyBarbeau commented on #300
The spreadsheet I linked should still be available and has some extra data from the "About Us" page, but I did go ahead and add the requested data to the original doc.

[2016-06-05 21:25] ammraleigh opened #313 "Add information regarding SAT scores"
Hey –

I'd like to suggest an enhancement.

SAT scores are valuable indicators of school/district performance when people are choosing where to live and send their children to school.

I put together 3 graphs of SAT scores across the country, state and Durham that might be useful to people.

[school-navigator-docs.zip](https://github.com/codefordurham/school-navigator/files/299526/school-navigator

[2016-06-06 20:19] sarahsba commented on #287
Thanks @RolfBates.  Will we need to manually update this for each school every year?

[2016-06-07 02:03] npage915 opened #314 "Create generic email ID that will go to someone on the School Navigator team"
It would be useful to have generic email ID (e.g. schoolnavigatorteam@gmail.com) that multiple folks could have access to for when principals have questions in creating/updating their profiles in the longer term. This will enable a generic email blast to be used without having to continuously update the language if there are fluctuations in team members.

[2016-06-07 16:59] RolfBates commented on #287
Yeah, unfortunately it seems that way. The rest of the pieces of the URL are uniform, but they use the North Carolina school code, which are not currently stored in the db. I'm getting those together in a migration. Then, we can construct the url with [ng-href](https://docs.angularjs.org/api/ng/directive/ngHref) on the front end, and plug in the most recent year as a string literal.

[2016-06-07 18:17] sarahsba commented on #287
Sounds good.  Thanks for working on this!

On Tue, Jun 7, 2016 at 12:59 PM, Rolf Bates <notifications@github.com>
wrote:

[2016-06-07 18:20] sarahsba commented on #260
Thanks @dpeasley2213 for working on this.  In case it's not clear, we want the map to center on the relevant school icon when the name of the school is clicked from the LIST of schools, not on the map itself.

[2016-06-07 18:27] sarahsba opened #315 "Mission statement not appearing in the school profile"
In the Sample School profile, we have a mission statement entered in the survey (https://durhamschoolnavigator.org/admin/schools/schoolprofile/73/), but the mission section appears blank in the profile (https://durhamschoolnavigator.org/#/school/247/)

[2016-06-08 17:40] dpeasley2213 commented on #260
@sarahsba

I believe the change does that, yes. Again, the change is in the develop branch so it will need to be merged to master. It wasn't clear during the event if I should do that or a lead developer would do that after reviewing it. Thoughts?

Test Case:
1. Open the map view and provide a generic address. I used "Durham, NC".
2. Notice in the map that a number of icons/badges appear.
3. Click

[2016-06-08 21:02] schpatel commented on #227
The Real Estate Commission sent the following response.

Dear Satyam Patel,

Attached is the form (REC 1.85) that you will need to mail, along with the $15 fee payable by check, in order to get a listing of all real estate agents who have a NC real estate license.  Upon receipt of this list (as an Excel file), you will be able to sort it among various criteria.  This list will include a licensee’s

[2016-06-12 19:34] basiacoulter opened #316 "Improve design (UX and visual) for school profile page"
The [school profile page](https://durhamschoolnavigator.org/#/school/247/) needs better information hierarchy and visual design to support it.

[2016-06-12 19:41] basiacoulter commented on #316
I have created medium fidelity mockups for two alternative designs. Next steps:

- Clearly define typography and use of color
- The accent color on the page could correspond to the color used for school level (e.g. green for elementary, purple for magnet high etc)
- I would like to build these mockups into prototype HTML pages that could be used for A/B testing
- A/B testing

![school-profile-page

[2016-06-12 19:51] basiacoulter commented on #316
Suggested steps for A/B testing:

I. Identify parent networks to approach (both Bendte and I may have access to parent networks of the Triangle; I can, for example, get connected to a FB for [SoDu Parents Posse](https://www.facebook.com/groups/SoDuParentsPosse/).

II. Create an opt-in form (maybe using Typeform?) for parents to opt in to participate in A/B testing

III. If the number of opt-in is

[2016-06-13 02:59] victor-rocha commented on #316
@basiacoulter I love the changes that you are proposing for the profile page. It's difficult to decide between option 1 and 2. Due to the amount of information on this page, I want to side with option 2.
Do you think you would be able to come to our meeting on Tuesday?

[2016-06-13 11:05] basiacoulter commented on #316
@victor-rocha Ideally, if we have time, I would really like to test the two with users and see which one they like better. Also @bendte has found a resource showing other layout/UI options and I want to take a look at that and perhaps generate yet another version. If we can get HTML prototype pages built (happy to try to build), we can send links to different groups of parents to get feedback. @be

[2016-06-14 22:22] sarahsba commented on #260
Thanks @dpeasley2213. One of the lead developers will take a look and share feedback.  Adding @alexlemann to review.

[2016-06-14 22:26] #315 closed

[2016-06-14 22:57] ammraleigh commented on #269
Checked by Victor! Ship it.

[2016-06-14 22:57] #269 closed

[2016-06-14 23:15] schpatel opened #317 "Incorrect grade level info for School for Creative Studies"
The school navigator website reflects that the School for Creative Studies spans grades 6 - 10 while the actual site for the school indicates that it spans grades 6 - 12.

https://durhamschoolnavigator.org/#/school/218/

http://scs.dpsnc.net/pages/School_for_Creative_Studies

[2016-06-14 23:28] sarahsba opened #318 "Create New Email Template for Charters & Change Salutation in Survey Email"
Currently, the salutation in the survey email reads "Dear [Principal Name]."  Since we are now sending the email to the principal OR superintendent (the latter in the case of the 3 charters that have schools within schools), we need to update this field [Principal Name] to the more generic [School Name] so that the salutation reads, "Dear [School Name] Team."

[2016-06-14 23:30] crpike commented on #316
hi @basiacoulter I'm pitching in as well (I'm new to code for durham) - is there anything I can do to help on this particular ticket? I'd be happy to give some feedback on those designs, and even potentially pitch in some UI options. Just let me know!

Btw – we've actually met before at SUDDS many months back, introduced by Jere C. Hope you're well!

[2016-06-14 23:36] basiacoulter commented on #316
Hey Ross, yes, I remember! Great to "see" you again. Small world :-) Please offer feedback on these, and any ideas for better UI options are very welcome! Can you add yourself to this ticket?

[2016-06-14 23:45] schpatel commented on #227
@sarahsba @npage915

Do we have $15.00 for this?

[2016-06-14 23:53] BobbyBarbeau commented on #318
See https://github.com/codefordurham/school-navigator/pull/319 for the charter template file.

Hopefully I did this right...? Still getting used to github!

[2016-06-14 23:58] dpeasley2213 commented on #227
Just to add a comment, every realtor that I've spoken with has seemed rather interested to be 'remembered' or to otherwise 'stand-out' from the others. I suspect this is one of the areas where we simply need to reach-out to a handful of them to gain interest. I'm not sure how an exhaustive list would help more-so than a list of 10.

That being said, can this ticket be addressed with a subset of re

[2016-06-14 23:59] schpatel commented on #227
@adamajm What do you think? Do we have funds for this?

[2016-06-15 00:16] elynch commented on #257
Worked with @RolfBates, and decided to remove the hide option when opening the school mini-profile. This way parents can still see the other school names while reading the mini-profile:

<img width="508" alt="screen shot 2016-06-14 at 8 15 51 pm" src="https://cloud.githubusercontent.com/assets/295842/16064187/e173d9c2-326c-11e6-94d7-01d858d6a279.png">

[2016-06-15 00:29] jtf621 opened #321 "In admin separate Voyager, Kestrel, and Central Park School into Elementary, Middle, High as appropriate"
In admin separate Voyager, Kestrel, and Central Park School into individual Elementary, Middle, High schools as appropriate to resolve the below issue.

SCHOOLS AT ISSUE
Voyager Academy (k-12) - separate locations and principals
Kestrel Heights (k-12) - separate principals, same location
Central Park School for Children (k-8) - separate locations and principals

paraphrasing @sarahsba email

Hey t

[2016-06-15 00:31] schpatel opened #322 "Research to see if we can get an e-mail address linked to the website so people can contact us about the project"
Check to see if google can assign us an e-mail address for the https://durhamschoolnavigator.org/#/ domain. If they need some proof of non-profit status inquire would we want to use the EIN for the Code for Durham: https://secure.codeforamerica.org/page/contribute/default. However if we use this, will it preclude other projects from using this? @adamajm @sarahsba. I'll look into this and update yo

[2016-06-15 00:31] jtf621 commented on #321
@npage915 @jtf621 @sarahsba discussed in detail tonight and decided on the above approach for now.

[2016-06-15 00:42] schpatel commented on #227
I'll work on fleshing out an outreach plan regarding how we want them to interact with the project (feedback, sponsorship), whether we want to reach out to all realtors at once or roll it out in phases with a smaller subset (perhaps 1 or 2 from each part of durham). @dpeasley2213 recived feedback suggesting realtors might want to have some form of exclusive exposure to this which might help in gai

[2016-06-15 00:46] RolfBates commented on #287
Here is my working notes for the proprietary id to state id mapping: [schools.txt](https://github.com/codefordurham/school-navigator/files/315242/schools.txt)

[2016-06-15 00:53] npage915 commented on #321
Updated to reflect appropriate breakdowns of school

[2016-06-15 00:54] #321 closed

[2016-06-15 00:59] jtf621 commented on #317
This can be fixed in the admin if you have permission.  The SchoolProfile is the place to update the data.

[2016-06-15 01:01] jtf621 commented on #322
This appears to be a duplicate issue to #314

[2016-06-15 01:03] jtf621 commented on #305
Fixed in #321

[2016-06-15 01:03] #305 closed

[2016-06-15 01:26] adamajm commented on #322
I'd suggest setting up an email for @codefordurham.org  (or @codefordurham.com if we can't get the website moved over to .org with help of @copelco @victor-rocha ). That way we can set up multiple project emails over time in a simplified framework.

[2016-06-15 01:52] jtf621 opened #324 "remove sarah's email from survey and add jeremy's"

[2016-06-15 01:55] sarahsba commented on #306
@npage915 - can you work on this along with the other charter schools?

[2016-06-15 13:32] crpike commented on #316
@basiacoulter eww... I'm not sure how to add myself to this ticket. I wonder if since you opened it, you'd need to 'assign' me... not sure.

[2016-06-15 17:29] sarahsba opened #325 "Update due date in charter email template"
Update the due date to 1 month from when we expect to send out the survey (July 25?)

[2016-06-15 17:33] sarahsba opened #326 "Make additions re feeder school status to profile and survey"
In Profile:
	Add to the bottom of the Admissions Policy section

	**Feeder School Status**
	 [open field for survey response]

	In Survey:
	Add the following to the bottom of the Admissions Policy section

	**Feeder School Status**
	Do students graduating from your school have guaranteed enrollment or priority status in the lottery for another school?  If yes, please explain.  If not, please write

[2016-06-15 17:42] sarahsba commented on #322
How about schoolnavigator@codefordurham.org

[2016-06-15 17:54] sarahsba opened #327 "Change Testimonials header in school profile to Community Feedback"
I promise this is the last name change for this header for v2!!

[2016-06-15 18:00] sarahsba commented on #300
Bobby - Awesome work on pulling all of the principal emails!!  This makes
it possible for us to send out the survey to all of the DPS schools.  Thank
you!

On Sat, Jun 4, 2016 at 9:05 PM, BobbyBarbeau <notifications@github.com>
wrote:

[2016-06-15 18:11] sarahsba opened #328 "Add filtering ability to school profile listview"
Can you add the ability to sort/filter 1) alphabetically by school name 2) and by school type on this page: https://durhamschoolnavigator.org/admin/schools/schoolprofile/

This will make it much easier to review which charter (or DPS schools) have completed the profile once we send it out and to find a particular school in the list.

(lower priority than all of the issues that relate directly to t

[2016-06-15 19:00] ammraleigh opened #329 "About Us page broken link to "existing DPS web resources""
Where did the broken link point to on http://www.dpsnc.net ?

[2016-06-15 19:28] sarahsba commented on #257
Great idea.

On Tue, Jun 14, 2016 at 8:16 PM, elynch <notifications@github.com> wrote:

[2016-06-15 19:42] sarahsba commented on #269
Looks good @ammraleigh!

2 comments: Can we delete the "My Assignments" line at the bottom of the page?  Also, for the "view schools" in the top line, only the charter column has a hyperlink.  Can we add a hyperlink for neighborhood and magnet, or do these pages need to be created?

[2016-06-15 19:50] sarahsba commented on #329
http://www.edlinesites.net/pages/Durham_Public_Schools/Our_Schools/Find_Your_School/Find_Your_School_Assignment

[2016-06-15 19:57] ammraleigh commented on #269
Hi!

These recommended changes were already done last night:
  - removed row  "My Assignments"
  - fix links to "View Schools" for Assigned and Magnet

However these changes will not show up on the public version until the next
release is put out.

On Wed, Jun 15, 2016 at 3:42 PM, sarahsba <notifications@github.com> wrote:

[2016-06-15 20:00] sarahsba opened #330 "List of Charters on Schools List page. Remove outdated charters specific page"
This list of charters is incomplete and seems to contain a few errors (eg Kestrel is with an "e" not "a"; Idyl school shouldn't be included).  https://durhamschoolnavigator.org/#/navigating/charter

Can we build this page so that it pulls the school names from the Schools database?  And can we pull in the application information from the school profile database so that it remains updated?  It look

[2016-06-15 20:07] sarahsba opened #331 "Create consistent category headers for Schools page"
On the Schools page (https://durhamschoolnavigator.org/#/schools), we have 2 sets of categories: grade levels (elementary, secondary, middle, high) and school types (specialty, magnet).

I think we should build out school type so that it is complete with all 4 types: specialty, magnet, neighborhood and charter.  This would require adding tabs for neighborhood and charter.

Secondarily, it would be

[2016-06-15 20:10] ammraleigh commented on #329
Does that link work for you?

The link is coming up with a page not found error for me :(

(I tried it in several different browsers too with the same results)

On Wed, Jun 15, 2016 at 3:50 PM, sarahsba <notifications@github.com> wrote:

[2016-06-15 20:12] sarahsba commented on #329
Very strange!  The link works for me.  What if you google Durham Public School Finder and look for this link from edlinesites.  Does it still come up as an error?

[2016-06-15 20:15] ammraleigh commented on #329
Need to clarify that last comment ... the page comes up but the link on the
page "Open the School Assignment Tool" is broken.

I'll change our link to that page

and

I'll contact the web master for the site and ask them to fix their broken
link.

[image: Inline image 1]

On Wed, Jun 15, 2016 at 4:09 PM, Ann Mueller <ammraleigh@gmail.com> wrote:

[2016-06-15 20:18] sarahsba commented on #329
Aha you're right!  Good catch.  We have a somewhat rocky relationship with
the GIS team that built the site and, I assume, is the web master.  Maybe
for now we just link to the dps home page?

On Wed, Jun 15, 2016 at 4:15 PM, ammraleigh <notifications@github.com>
wrote:

[2016-06-15 20:23] sarahsba commented on #317
Fixed the grade levels in the school profile for School for Creative Studies.

[2016-06-15 20:23] #317 closed

[2016-06-15 20:32] sarahsba opened #332 "School for Creative Studies not appearing in the map view list"
The School for Creative Studies is a 6-12th grade magnet that is categorized as "secondary."  However, does not appear anywhere in the map list view.  Is this because it is a calendar magnet that is only an option for certain locations in Durham (and therefore wouldn't appear when I search for schools for 1000 N Duke St)?  Or is this a bug?

![image](https://cloud.githubusercontent.com/assets/1204

[2016-06-15 20:36] sarahsba commented on #269
Great, thanks!

On Wed, Jun 15, 2016 at 3:57 PM, ammraleigh <notifications@github.com>
wrote:

[2016-06-15 21:58] jtf621 commented on #332
Sarah, Can you login to the admin and see if the school is listed and is active?

[2016-06-16 01:21] basiacoulter commented on #316
@sarahsba How can we assign @crpike to this ticket? He does not seem be on the list of people that unfolds when I click on the assignees gear icon. Is he not added to this repo?

[2016-06-16 02:52] sarahsba commented on #316
@alexlemann can you get @crpike onto this ticket?  He's not showing up in the list of assignees, not sure why.

[2016-06-16 12:21] alexlemann commented on #316
@crpike I sent you an invite to join the CfD GitHub team. Once you accept that anyone on the team can add you as an Assignee on the right of this issue.

[2016-06-16 18:17] #262 closed

[2016-06-16 18:34] jtf621 commented on #325
Fixed for Charter email template in 51abe97 see pull request #319

[2016-06-16 18:34] #325 closed

[2016-06-16 18:54] jtf621 commented on #324
fixed in 34c358b see pull request #319

[2016-06-16 18:54] #324 closed

[2016-06-16 18:56] jtf621 opened #333 "update DPS email template"
Need to rewrite the references to the May meeting that did not happen.

[2016-06-16 18:57] jtf621 commented on #333
@sarahsba or @npage915 can you look at /templates/survey_email_dps.txt

[2016-06-16 18:59] jtf621 commented on #308
duplicate of #318.  fixed in that issue and pull request #319.

[2016-06-16 18:59] #308 closed

[2016-06-16 19:01] jtf621 commented on #284
@drumslayert do you have an update on this issue?

[2016-06-16 19:02] jtf621 commented on #291
@gturmel do you have an update on this issue?

[2016-06-16 20:19] jtf621 commented on #332
@sarahsba The school for creative studies has a zone that you need to be in to attend.

Enter 3000 Roxboro Rd to see it.

[2016-06-16 20:19] #332 closed

[2016-06-16 20:27] sarahsba commented on #332
Thanks Jeremy.

On Thu, Jun 16, 2016 at 4:19 PM, jtf621 <notifications@github.com> wrote:

[2016-06-16 20:42] sarahsba opened #335 "Add picture question to school profile survey"
Add a "Picture" header with the following questions to the end of the survey, before the feedback question.

**Picture**
Please upload a picture of your school building as a jpeg file here.  This picture will be showcased at the top of your school's profile.

[add button/function to upload a picture]

[2016-06-16 20:54] sarahsba commented on #333
Yes.  It probably makes sense to wait on this until we hear back from
Chrissy and know how we're communicating with the principals.  Does that
work?

On Thu, Jun 16, 2016 at 2:57 PM, jtf621 <notifications@github.com> wrote:

[2016-06-16 21:34] jtf621 commented on #333
Yes waiting is ok. I just wanted to Document  that this was needed while I was touching the code.

Sent from my iPhone

[2016-06-19 18:29] basiacoulter opened #336 "User testing of the school profile page"
It would be nice to decide on the design of the school profile page by testing [alternative designs](https://github.com/codefordurham/school-navigator/issues/316) with users.

[2016-06-19 18:30] basiacoulter commented on #336
Suggested steps for A/B testing:

I. Identify parent networks to approach (both Bendte and I may have access to parent networks of the Triangle; I can, for example, get connected to a FB for SoDu Parents Posse.

II. Create an opt-in form (maybe using Typeform?) for parents to opt in to participate in A/B testing

III. If the number of opt-in is sufficient, divide the participants into 2 groups:

I

[2016-06-19 18:39] basiacoulter commented on #336
Alternatively ask more specific questions to see if users really are able to find this information on the page such as:

1. When does the school day start and end for this school?
2. How many miles is this school from your house?
3. Does this school have a lottery process?

In this scenario, since we will not be observing the users directly, the concern is they might be able to accomplish each tas

[2016-06-19 18:41] basiacoulter commented on #316
Thanks @alexlemann for your help with this! Also I have separated user testing from this ticket. It is now a [separate ticket](https://github.com/codefordurham/school-navigator/issues/336).

[2016-06-21 13:25] npage915 commented on #307
Completed - the draft lives here: https://docs.google.com/document/d/1rJZSTtX2x12rB0RRceC0PIVBRGMl6jFoxYvTAKGANds/edit

[2016-06-21 13:25] #307 closed

[2016-06-21 13:44] npage915 commented on #306
Added under RTHS

[2016-06-21 13:44] #306 closed

[2016-06-21 17:11] jtf621 commented on #335
@sarahsba @victor-rocha  are you OK if we have them email the picture for Phase 2 and make the upload a Phase 2.5 issue?

I can implement the email easily and get the charters going, but would need some help with the upload issue.

[2016-06-21 17:13] jtf621 commented on #284
@victor-rocha it looks like @drumslayert is not on this anymore.  Can you give me a pointer on implementation so we can get the Charter schools survey out soon?

[2016-06-21 17:16] sarahsba commented on #335
yes, I defer to @jtf621 and @victor-rocha on this.

[2016-06-21 17:17] jtf621 commented on #291
This is complete in master

[2016-06-21 17:17] #291 closed

[2016-06-22 18:40] jtf621 opened #337 "Add the ability to cc email address to survey email"
The DPS Communications Department (Chip) wants to be cc'd on the emails to the principals. We will need to differentiate between charter and DPS schools like we do for the email template.

[2016-06-23 20:29] npage915 commented on #314
I just created the following address:

email: schoolnavigatorteam@gmail.com
pw: SchoolNavigator

We can discuss how to link to site on Tuesday

[2016-06-23 20:29] #314 closed

[2016-06-23 20:31] npage915 commented on #322
I just created the following address, but if folks prefer other domains that's fine, too. I just want to be cognizant of the timing to get the surveys out and not sure how much of a lift it is to get an address on these other sites.

email: schoolnavigatorteam@gmail.com
pw: SchoolNavigator

[2016-06-23 20:31] alexlemann commented on #314
@npage915 These comments are public and stored in lots of people's email accounts. Can you change the password and we can share it in person on Tuesday?

[2016-06-23 20:33] npage915 commented on #314
Done - apologies!

[2016-06-23 20:36] npage915 commented on #322
Just kidding, changed the password. :)

[2016-06-23 21:23] schpatel commented on #322
Just a quick update. I have tried to setup an account with G4NP (google for non profits) but several other chapters and of Code for America have used the EIN to register so Google is not allowing me to proceed forward. I have posted to the support forum and am waiting for a response. I will update once I hear something back.

[2016-06-24 01:09] sarahsba commented on #322
Thanks team.  I think @jtf621 was also working with Adam to get a generic school navigator email using the codefordurham domain.  @jtf621, can you share an update on that?

[2016-06-25 14:36] basiacoulter commented on #316
I have reviewed briefly (will spend more time on it later on) the materials that @sarahsba and @bendte shared, and here is another design suggestion (quick sketch for now) that attempts to leverage the following:

1. Have a callout section at the top (in this version it features points of pride, a small map showing school's location, address, hours, and contact info; the selection of info for this

[2016-06-25 14:38] basiacoulter commented on #316
A quick note about having that small map on the page. We should not be assuming that the user will always land on the school profile page from the map of the navigator. If a profile page is shared directly among parents, it may helpful to have the map embedded right for the parent to be able to understand the school location quickly.

[2016-06-28 21:05] sarahsba commented on #335
If we're receiving the photos by email now, do we want to revert back to this language:

Picture
We expect the vast majority of profiles will include a picture of the school building.  Do you want to update/add a picture to your school's profile?
[Dropdown - Yes/No]

If you selected "Yes," please send a jpg of the photo to [email ID] with the subject line: Picture for [School Name].

[2016-06-28 21:09] sarahsba commented on #254
@npage915 completed this.  I'm closing it.

[2016-06-28 21:09] #254 closed

[2016-06-28 21:11] sarahsba commented on #259
This is a UI issue.  @basiacoulter or @bendte, would either of you be interested in working on this?

[2016-06-28 21:30] jtf621 commented on #302
@sarahsba please check if this is fixed

[2016-06-28 21:38] jtf621 opened #338 "set due date for DPS survey to Friday, July 29"
We need to match the superintendanet's email due date

[2016-06-28 21:39] #326 closed

[2016-06-28 21:50] sarahsba commented on #302
Yes, it is.

[2016-06-28 21:50] #302 closed

[2016-06-28 22:07] jtf621 commented on #333
@RolfBates can you work with @npage915 on this?

[2016-06-28 22:07] sarahsba opened #339 "Change "Principal Email" field in Schools Database to "Principal/Superintendent Email""
The addition of "Superintendent" reflects the fact that, for some of the charters that contain multiple schools under the same name, we will send the email to the superintendent who will then be responsible for determining the best way to complete the survey for each of their schools.

For ex, Central Park has 2 schools, a middle and elementary school, each with their own principal but with a sing

[2016-06-28 22:09] #318 closed

[2016-06-28 22:40] jtf621 commented on #337
fixed in PR #340

[2016-06-28 22:41] #284 closed

[2016-06-28 22:42] #338 closed

[2016-06-28 22:50] #337 closed

[2016-06-28 23:11] #335 closed

[2016-06-28 23:21] jtf621 commented on #310
@flowersw Can this go in a different milestone?  I see no reason to block surveys for this one.

[2016-06-28 23:37] #333 closed

[2016-06-29 00:01] basiacoulter opened #343 "Implement bidirectionally between a school selection in mini-profiles panel and school markers on the map"
Would be nice to implement the following bi-directionality:

**Mini-profile to school marker direction**:
When a mini-profile for a given school is open, the tooltip with that school's name pops up automatically above that school's marker on the map.

**School marker to mini-profile direction**:
When a school marker of a school is clicked in the map and its tooltip pops up, the corresponding mini-

[2016-06-29 00:03] sarahsba commented on #259
Just discussed with @basiacoulter, and her recommendation is to add  "See full profile" as a hyperlink to the profile on its own separate line to the bottom of the mini profile for each school.  This is a change to the mini profile in the map view.

![image](https://cloud.githubusercontent.com/assets/12042430/16436337/17e7d96e-3d6b-11e6-94eb-31aa58c2348c.png)

[2016-06-29 00:11] basiacoulter opened #345 "Mini-profile UI further improvement"
The mini profile UI still seems a little off.

- It acts somewhat like an accordion but not quite; clicking on the title of a list item in the accordion opens up the accordion;
- I would expect the heading of the accordion (in this case the title of the school category) to act as the interactive element that opens and closes the accordion;
- It's almost like a nested accordion where the top level

[2016-06-29 01:09] npage915 opened #347 "Change language in survey of year-round school from "TRUE/FALSE" to "Yes/No""
When schools pull up the survey, the "year-round school" field shows up with either a "TRUE" or "FALSE" - if possible, can we change it to be a "Yes/No" so it's not confusing for schools?

[2016-06-29 12:40] flowersw commented on #310
@jtf621 , sorry, I think I accidently did that, looking around at various issues. Thanks

[2016-06-30 22:14] schpatel commented on #322
Per Monique at Code for America G4NP is no longer allowing accounts for Brigades. Do we still want to see if we can setup a durhamschoolnavigator@codeforamerica.com e-mail address? @jtf621 @sarahsba @npage915 @alexlemann @adamajm

[2016-07-02 14:20] basiacoulter commented on #336
@bendte I have been thinking more and more about the user testing for the school profile page and here are my reflections:

- for A/B testing to be informative we'd really need a large sample of users, which we may or may not get. But maybe I am thinking about it the wrong way?
- maybe it would make more sense to decide on a starting design hypothesis, test it with a smaller number of users, itera

[2016-07-02 14:57] basiacoulter commented on #316
@victor-rocha I'd like to build an HTML/CSS prototype of this page as shown in the mockups and sketches above. I want to have an actual live page (or two, if we decide to test alternative designs) to test with users. I am not proficient enough with Angular to be able to do it in Angular, but I can build a responsive page with Bootstrap, and leverage a lot of their pre-built components (such as acc

[2016-07-05 18:23] npage915 opened #348 "Before/after school survey answer not showing up properly on web page"
Kestrel Heights Elementary School has entered "No" for both the before and after care options in the survey, but on the profile, it says that the school offers these servicess. (https://durhamschoolnavigator.org/#/school/252/) Might there be an issue of translating survey answer to profile here?

[2016-07-05 19:06] victor-rocha commented on #348
Thanks for reporting this, I will look into this tonight.

[2016-07-06 12:52] jtf621 commented on #348
@victor-rocha did you find out what the issue is?  Need help?

[2016-07-06 12:53] victor-rocha commented on #348
@jtf621 I did

[2016-07-06 13:18] #348 closed

[2016-07-06 13:37] npage915 commented on #348
Perfect - thank you for taking care of this, Victor! I will follow up with
Dr. Webb.

On Wed, Jul 6, 2016 at 9:18 AM, Victor Rocha <notifications@github.com>
wrote:

[2016-07-12 21:41] alexlemann opened #349 "Allow image upload in school survey / profile"
Let survey takers upload new school images. Would obviate need for us doing it manually like #97 suggests.

[2016-07-12 22:26] jtf621 commented on #349
There is some discussion on #335 before we made the decision to email so we could get the survey out at the end of June.

[2016-07-12 22:33] basiacoulter commented on #345
Looks like it has been fixed. It works beautifully!

[2016-07-12 22:33] #345 closed

[2016-07-12 22:59] alexlemann commented on #330
@sarahsba apparently I did.... What do you think about adding a filter to the schools list page that is for charters and removing this page?
https://durhamschoolnavigator.org/#/schools

[2016-07-12 23:02] alexlemann commented on #330
@npage915 and @victor-rocha said yes to ^^^

[2016-07-12 23:27] jtf621 commented on #259
fixed in pr #350

[2016-07-12 23:28] alexlemann commented on #257
closing this out. thanks again @elynch

[2016-07-12 23:28] #257 closed

[2016-07-12 23:35] alexlemann commented on #322
durhamschoolnavigator@codeforamerica.com sounds good to me.

[2016-07-12 23:42] schpatel commented on #322
Reached out to Code for America for a durhamschoolnavigator@codeforamerica.com e-mail.

[2016-07-12 23:42] alexlemann commented on #265
School address: 3501 Fayetteville Street Durham NC 27701

[2016-07-13 00:04] jtf621 commented on #287
@RolfBates

I was testing the site and the implementation shows unavailable more frequently than I expected.  It looks like the state_id is on the school profile not on the school.  The result is that when a new survey is sent out, the state_id is null. Can you take a look at this again?

[2016-07-13 03:42] sarahsba commented on #330
agreed, that's great.

On Tue, Jul 12, 2016 at 7:02 PM, Alex Lemann <notifications@github.com>
wrote:

[2016-07-13 10:29] basiacoulter opened #352 "Mini-UI: Consider collapsing school categories"
Right now, if the first category has a long list of schools, the following categories end up below the fold, and unless you scroll, you may not discover them. What if the categories were collapsed to start with? Each would need to have a down arrow or caret to indicate to the user that there is some content hidden under the category heading.

Discussed with @victor-rocha and he liked the idea.

[2016-07-13 12:25] #259 closed

[2016-07-13 13:41] npage915 opened #353 "Update second paragraph of follow-up email to reflect ability for schools to upload photos"
NOTE: The rest of the email should remain the same - this is the second paragraph. (Let me know if there's a better way to present the requested change.) Additionally, after the email goes out on 7/26, we should remove the line so it could be reused in future iterations and this feature will no longer be new/worth calling out.

We would like to create a great profile for [school name], but we need

[2016-07-14 02:09] sarahsba opened #354 "Open profile in new tab"
When you click on the "View school profile" link on the map page, it opens up the profile on the same tab so that you lose the map view.  I think it'd be easier for users if the profile opened in a separate tab so that users can open multiple profiles at a single time to read. If we do that, we'd want the mini-profile to remain open I think.  Right now if you hold control and click the "view schoo

[2016-07-14 15:52] schpatel commented on #322
Code for America set up the e-mail address for us.

The password is dsnLIT1616

@alexlemann @sarahsba @npage915 @jtf621 @adamajm

[2016-07-14 16:17] npage915 commented on #322
Hey @schpatel - can you change the password and send it in a separate, private email outside of github to the team? I made this mistake setting up the previous email address; as this info is publicly available, we don't want anyone who stumbles upon it to have access to the password. :)

Thank you! And thanks for setting up the account. Let's discuss a transition plan as we have already shared the

[2016-07-14 17:13] schpatel commented on #322
Sorry,

I didn't know this was accessible by the public. I've updated the password and will send it to you shortly.

[2016-07-14 17:17] schpatel commented on #322
One more minor issue,

Google will start requiring 2 step verification as off July 29, so we need to perform initial verification for every computer that will be used to access this account. We can take care of this at the next meeting.

[2016-07-26 13:28] LASHirsh commented on #352
That makes sense to me. Good idea, @basiacoulter!

[2016-07-26 14:26] flowersw commented on #68
@victor-rocha , Hi, Will Flowers here. Do you have any recommendations for strategy or tools to do this? Something like this, perhaps? [https://docs.angularjs.org/api/ng/type/$cacheFactory.Cache](https://docs.angularjs.org/api/ng/type/$cacheFactory.Cache). Thanks.

[2016-07-26 22:21] alexlemann commented on #330
Thanks @JonathanFrederick. This is also related to #331.

[2016-07-26 22:21] #330 closed

[2016-07-26 23:13] alexlemann commented on #349
tested on prod. works great. thanks @victor-rocha !

[2016-07-26 23:13] #349 closed

[2016-07-26 23:21] alexlemann commented on #353
Also, include updated email addr per #322

[2016-07-26 23:49] flowersw commented on #347
With @victor-rocha 's help, this issue has been resolved

[2016-07-26 23:49] #347 closed

[2016-07-26 23:49] LASHirsh opened #357 "Change "Speciality" to "Specialty""
The specialty school type on the Schools page currently has an extra 'i' in it (reads as "Speciality"). @JonathanFrederick also noticed that in the code, the type is spelled two different ways.

[2016-07-26 23:55] JonathanFrederick commented on #331
The easiest and simplest way would be to just put a small line between the two categories.  After some discussion with @LASHirsh, we're thinking the other category from the one with the selected tab should be more in the background somehow (i.e. if "MIDDLE" is selected, have the tabs for "NEIGHBORHOOD", "SPECIALTY", "CHARTER", and "MAGNET" be a different gray).

Alternatively, we wondered if paren

[2016-07-27 00:06] JonathanFrederick commented on #331
Side thought, we were wondering if a "SECONDARY" tab should be after the "HIGH" tab?

[2016-07-29 02:17] LASHirsh commented on #316
Hi @basiacoulter! Can you share the picture you took on your phone at the meeting 2 wks ago that had the final result of the card sorting exercise we did with @bendte? I have the other images but not that one. :-) Thanks!

[2016-07-29 10:04] basiacoulter commented on #316
Here Lauren

—
Basia Coulter

(603) 714 8535 | www.basiacoulterdesign.com <http://www.basiacoulterdesign.com/>
@BasiaCoulter | in/basiacoulter

[2016-07-29 11:16] npage915 opened #358 "Merrick-Moore Elementary School unable to save info"
We received the below message from a principal who was unable to save his info. Can you please look into this and let me know if you think it's a School Navigator issue or something internal on his computer?

"Good Evening,
I just tried to complete the survey for Merrick-Moore Elementary School.  I opened the page yesterday, completed the information today and tried to save.  When saving, I was di

[2016-07-29 15:24] victor-rocha commented on #358
Thanks for the heads up. I will make some time in a little bit to look at this.

[2016-07-29 17:19] LASHirsh commented on #316
Thanks for your quick reply, @basiacoulter! Unfortunately, I'm not seeing it on github or as an email attachment. :-( Can others see it here?

[2016-07-29 17:33] basiacoulter commented on #316
How about now @LASHirsh?
![img_4254](https://cloud.githubusercontent.com/assets/8093954/17257649/10939728-5591-11e6-8ef2-e56c415be147.JPG)

[2016-07-29 18:32] victor-rocha commented on #316
I wasn't see it either. Last comment has it now though.

[2016-07-29 19:12] basiacoulter commented on #316
Great!

[2016-07-29 20:13] LASHirsh commented on #316
It worked the second time, thank you!

[2016-07-29 21:49] jtf621 commented on #358
Thanks victor. I am not able to work this for 2weeks

Sent from my iPad

[2016-08-03 19:17] basiacoulter commented on #316
This is how far I have been able to get on my own, building the prototype school profile page. Will need @victor-rocha 's help figuring out how build tabs that will work with Angular (he and I have already had a conversation about that and will work on it at the next meetup), and implementing Sass, so we can build color palettes specific to school levels (elementary, middle, and high). So still wo

[2016-08-09 03:22] sarahsba commented on #316
@basiacoulter, this looks great!  I love the tab approach, and I think the way you've broken it down seems logical and intuitive.  Let me know if I can help with identifying or reaching out to contacts for the usability testing.

One small point of feedback, I spent quite a bit of time floating different titles for the testimonials section, and the one that ended up resonating the most was "commun

[2016-08-09 13:06] LASHirsh commented on #316
Well done, @basiacoulter! @sarahsba, I think your suggestion is excellent and well-reasoned. I'd also be happy to help with usability testing. :-) See y'all this evening.

[2016-08-09 13:40] bendte commented on #316
Looks great, @basiacoulter! @sarahsba, thanks for your offer to help with identifying contacts for usability testing. That would be great.

I had a thought this morning about usability testing at one of the public libraries although that would take some planning and work with staff at the library. Just a brainstorm I had this morning. Looking forward to seeing everyone this evening.

[2016-08-09 13:44] basiacoulter commented on #316
@sarahsba Yes, please, we could use your help identifying contacts for usability testing. If we can create a list of people to whom we could send an opt-in form that would be great. I still want to get an intro to the SoDu Parents Posse but my connection is out of town till next week, so I cannot get this done before tonight.

I love "Community Feedback" for the testimonials section.

[2016-08-09 22:35] sarahsba commented on #316
Great!  I'm still at work, but I will send over some ideas later this
evening of contacts for usability testing.

On Tue, Aug 9, 2016 at 9:44 AM, basiacoulter <notifications@github.com>
wrote:

[2016-08-09 23:10] lotusgraham opened #359 "Doc's Issue--virtual env incorrect"
The docs specify to run a different name of virtual env than you create.

![screen shot 2016-08-09 at 6 54 07 pm](https://cloud.githubusercontent.com/assets/13974084/17536700/d1f7cca0-5e64-11e6-8f2f-c5b67cf63d75.png)

[2016-08-09 23:28] alexlemann commented on #354
Hi @sarahsba I think that we discussed this in: #295 and decided that the links within the site would be in the same tab but links out to other sites would be in a new tab. Do you agree?

That said.... the link to the school's own site within the profile links out in the same tab now which is inconsistent with how this is handled in the mini profile view.

[2016-08-09 23:30] alexlemann commented on #359
Fixed. Thanks!

[2016-08-09 23:30] #359 closed

[2016-08-09 23:32] #353 closed

[2016-08-09 23:34] flowersw commented on #265
In researching this issue, I found that the MAGNET SCHOOL PROGRAMS & TRANSPORTATION page on the [dpsnc website](http://www.dpsnc.net/Page/453) does not have W.G. Pearson listed or what districts it includes.

Steps moving forward I plan to take:
* Call dpsnc and see if they want to include W.G. Pearson on their magnet program page
* Investigate the loadschools.py module to see if there is a discre

[2016-08-09 23:48] alexlemann commented on #339
@lotusgraham check out the principal_name field here: https://github.com/codefordurham/school-navigator/blob/master/schools/models.py#L221

[2016-08-09 23:51] alexlemann commented on #300
@sarahsba @npage915 can this get closed out?

[2016-08-09 23:53] alexlemann commented on #287
@lotusgraham here's another ticket that might be interesting.... but has some history

[2016-08-09 23:56] alexlemann commented on #287
@JonathanFrederick

[2016-08-10 00:00] basiacoulter commented on #336
**Nest steps**:
- compile the list of contacts: @sarahsba could you start a google spreadsheet with the contacts you want to use? If you share it with us, we will probably contribute some entries as well
- compose an email that will go out with the opt-in form @npage915 (Here is a starter, "Ever needed information about selecting a Durham public school?  We are working on a tool that helps familie

[2016-08-10 02:50] sarahsba commented on #300
Yes.

On Tue, Aug 9, 2016 at 7:51 PM, Alex Lemann <notifications@github.com>
wrote:

[2016-08-10 02:55] sarahsba commented on #354
@alexlemann, you're right, we did agree to that in @295. I don't follow the second part of your comment: "That said.... the link to the school's own site within the profile links out in the same tab now which is inconsistent with how this is handled in the mini profile view." Can you elaborate?

[2016-08-10 03:42] sarahsba commented on #336
@basiacoulter, here is the list of contacts that I've started: https://docs.google.com/spreadsheets/d/1ixon2Rw_-KeFBlxzTWmuNY-2UOrkxUBOOli1J5IrUC4/edit#gid=1875312278.  Let me know if you have any questions.  These are all people who are already aware of SN and have been in touch with us before, so we'd probably want to use a different outreach email for them than for new folks.  I can work with @

[2016-08-10 12:44] alexlemann commented on #354
@sarahsba I was talking about the school website link in the At A Glance section of the profile opening in the same tab even though it links out to a different site.
![at-a-glance-link](https://cloud.githubusercontent.com/assets/46069/17553934/6c9015bc-5ed6-11e6-8502-fbddb914c026.png)

[2016-08-13 17:33] lotusgraham commented on #354
@sarahsba @alexlemann Below is a GIF of what these pages should behave like. I'll work on making this happen.

![schoolnav-newtab](https://cloud.githubusercontent.com/assets/13974084/17644628/b0464576-6159-11e6-9a27-1437531c1ede.gif)

[2016-08-13 18:02] basiacoulter commented on #336
Thank you @sarahsba! I just sent a request for permission to edit. I will create a new tab in the same spreadsheet where we can start adding contacts for people who have not participated in past surveys.

@npage915 Looks like we need two different emails: one will less explanation of the project for people who have participated in the past; and one with more explanation. Both have to have an entic

[2016-08-13 18:56] sarahsba commented on #354
Got it, thanks. I agree with the approach y'all are working on. Looks great.

On Aug 13, 2016 1:34 PM, "Graham Whitley" <notifications@github.com> wrote:

[2016-08-13 19:01] sarahsba commented on #336
Great. You should have editing permission now. Let me know if it didn't
work!

On Aug 13, 2016 2:02 PM, "basiacoulter" <notifications@github.com> wrote:

[2016-08-15 23:00] lotusgraham opened #363 "Error when using docs to setup backend dev."
If i run the whole command on this line starting from `$VIRTUAL_ENV/bin/pip install -r $PWD/requirements/dev.txt` then i get an error.

but if I run only `pip install -r $PWD/requirements/dev.txt` then it works.

![screen shot 2016-08-15 at 6 53 34 pm](https://cloud.githubusercontent.com/assets/13974084/17682487/e6c2bed8-6319-11e6-8c59-fc4efbbbe8a6.png)

[2016-08-23 17:40] jtf621 commented on #358
@victor-rocha @npage915 is this fixed?

[2016-08-23 17:46] #300 closed

[2016-08-23 18:06] jtf621 commented on #97
Uploading picture is now done via the school profile survey.  see #349 for details

[2016-08-23 18:06] #97 closed

[2016-08-23 21:56] #354 closed

[2016-08-23 21:59] #363 closed

[2016-08-24 17:23] ammraleigh commented on #357
Made update on branch 269001de071aa54d02d95fc1580c6059b0920859
Please let me know the process for update approvals and then I will merge branch to main.
- Ann

[2016-08-24 18:28] victor-rocha commented on #357
Create a PR against master, and then someone will look over and verify that everything is good.
https://github.com/codefordurham/school-navigator/compare/issue%23357

[2016-08-26 14:36] npage915 commented on #358
Yes - this has been addressed.

[2016-08-26 14:36] #358 closed

[2016-09-02 11:58] basiacoulter commented on #316
Hi all,

I cannot make it next Tuesday.

Bendte and Lauren, if you are there on Tue, unless you have other tasks, how about getting started with the survey questions and tasks for remote usability testing?

Basia

—
Basia Coulter

(603) 714 8535 | www.basiacoulterdesign.com <http://www.basiacoulterdesign.com/>
@BasiaCoulter | in/basiacoulter

[2016-09-02 12:36] bendte commented on #316
I too will not be able to make it this Tuesday. But, I'll do some work this weekend on survey questions/tasks.

See you all next time!

[2016-09-02 22:18] basiacoulter commented on #336
@bendte @LASHirsh @npage915 @sarahsba, I got connected to a woman who's an admin for the SoDu Parents Posse on FB. She loves what we do and she'll post a link to the opt-in form on their FB page. So this would be new participants opt-in. What needs to happen for us to decide if [this form](https://codeofdurham.typeform.com/to/Si0GHy) is a go, so I can pass it on to her?

[2016-09-06 16:19] LASHirsh commented on #316
​I RSVP'd some ​months ago to attend the UX panel at Bronto Software this evening​ so unfortunately won't be in attendance at the Code for Durham meeting tonight. I will plan to put some time into working on the survey in the latter half of this week though.

[2016-09-06 18:29] basiacoulter commented on #336
@alexlemann What needs to happen to get a "go" for posting the opt-in form above on a curated parental page on FB?

[2016-09-06 22:37] brownap04 opened #365 "Check status of overdue school surveys"
Going through school surveys for which status is currently "Over due" to assess what is missing from the surveys, and also which surveys may be in acceptable state.

Summary here: https://docs.google.com/spreadsheets/d/1yAfqbC7H6Yjm2FA2A4OQtpQ0EANWNHArdwyxJk02WVQ/edit?usp=sharing

[2016-09-06 23:17] flowersw commented on #265
...Not making too much progress on this issue. I will move on for now

[2016-09-06 23:55] jtf621 opened #366 "Add Teacher working conditions data to database"
data located at: http://www.ncteachingconditions.org/results/report/153/62868 for teacher survey

https://durhamschoolnavigator.org/#/school/206/  Teacher working conditions

[2016-09-07 00:00] nathanrogers18 commented on #366
I'll take this.

[2016-09-07 00:36] brownap04 commented on #365
Summary of schools with status "Over due" is complete. Please let me know if you need anything else.

[2016-09-07 00:36] jtf621 commented on #365
Thanks Alice

[2016-09-07 12:54] basiacoulter commented on #336
@npage915 Can I share this opt-in form with a FB parental group? https://codeofdurham.typeform.com/to/Si0GHy

[2016-09-07 12:57] jtf621 commented on #336
Basic,

I am OK with sharing the Opt In form as you suggest.  Thanks.

Jeremy

[2016-09-08 18:06] npage915 commented on #336
Thanks for putting the form together, Basia! Looks great.

On Wed, Sep 7, 2016 at 8:57 AM, jtf621 <notifications@github.com> wrote:

[2016-09-08 18:17] basiacoulter commented on #336
Great.

Nicole can I draft a paragraph explaining the project or do we already have something like that?

Basia

Sent from my iPhone

[2016-09-08 18:36] npage915 commented on #336
Hi Basia -

This is the description from the Code for Durham website, which I think
will suffice:

Durham School Navigator <https://durhamschoolnavigator.org/#/> is web
application tool to help parents understand the different public schools in
Durham County and make informed schooling decisions. Durham School
Navigator provides a common and easy-to-use platform for all public schools
to share inf

[2016-09-10 13:35] basiacoulter commented on #336
It is bit too long for a FB post. I will shorten before passing on.

On Thu, Sep 8, 2016 at 2:36 PM, npage915 <notifications@github.com> wrote:

--
Basia Coulter
UX Designer at Caktus Group
www.caktusgroup.com

Twitter: @BasiaCoulter
Linkedin: in/basiacoulter
GitHub: basiacoulter

[2016-09-10 13:49] basiacoulter commented on #336
Here is what I passing on to post:

Join Code for Durham in making Durham School Navigator (https://durhamschoolnavigator.org) a better tool for parents to make informed schooling decisions! Opt in to participate in usability testing of the web application they are building for you! https://codeofdurham.typeform.com/to/Si0GHy

Durham School Navigator is and easy-to-use web application:
- for paren

[2016-09-10 14:03] basiacoulter commented on #336
Btw, anyone on FB with parent friends in Durham, please post that as well in your FB feed!

[2016-09-10 15:46] basiacoulter commented on #316
Thanks to @victor-rocha I got the tabs to work in the HTML prototype of the page. I will need some front-end help next time to replace the current profile page with the new prototype page, so we can link to it from user survey. @victor-rocha @JonathanFrederick Can one of you help me with that on Sept 20?

[2016-09-10 15:50] basiacoulter commented on #336
@bendte @LASHirsh Will you be able to some to the meetup on Sept 20? Would be great if we could finalize the usability testing plan. Define user tasks; design the survey; design an in-person session. We already have 1 volunteer for in-person usability testing!

[2016-09-10 16:02] basiacoulter commented on #316
Actually I just realized we cannot yet replace the profile page because the survey is not yet completed, but we need the new prototype to be accessible over the Internet, not just on local server, so we have to figure out how to do it.

[2016-09-10 17:32] victor-rocha commented on #316
I will be there on the 20th

[2016-09-10 22:15] basiacoulter commented on #316
Yay!

Sent from my iPhone

[2016-09-11 21:41] basiacoulter opened #368 "Implement CSS Preprocessor (Sass?)"
We need to implement a CSS preprocessor. One useful outcome would be an ability to build color palettes.

[2016-09-11 21:45] basiacoulter opened #369 "New school prototype page: make sure work on mobile"
Once we settle on the final design of the new school profile page, we need to review it for mobile behavior.

[2016-09-13 17:11] nathanrogers18 commented on #366
tl;dr: We should have the raw survey data soon via the organization that conducted the survey.

I had some issues getting the excel files to download in a true xlsx format, rather than in html (they opened as Office Open XML spreadsheet).

Since the xlsx files were a pain, I built a working BeautifulSoup scraper for one of the results pages, It was working, but then I realized they had newer data

[2016-09-13 19:06] jtf621 commented on #366
Sounds like a good plan.  Thanks.

Sent from my iPad

[2016-09-15 21:57] bendte commented on #336
@basiacoulter Yes, I can meetin on Sept 20. I've been working on a survey draft and in-person questions too. That is awesome that there is 1 in-person usability testing volunteer!

[2016-09-16 15:04] LASHirsh commented on #336
@basiacoulter I do plan to attend the 9/20 meetup and agree that we should finalize our usability testing plan! I, too, have been working on a survey draft and on an in-person moderated testing script. See you Tuesday!

[2016-09-16 15:21] basiacoulter commented on #336
Fantastic. Thank you @bendte and @LASHirsh, and see you next Tuesday!

[2016-09-20 22:44] basiacoulter commented on #316
Woohoo! The new profile page prototype page is live now! Thank u @victor-rocha!
Now we need a test and survey plan, and we're in usability testing business.
Here is a link to sample prototype: https://durhamschoolnavigator.org/#/school-new/183/

[2016-09-20 23:36] bendte commented on #336
@basiacoulter Caktus was locked when I got there this evening, so I figured it might have been canceled for tonight. I noticed your post about Victor finishing up some work. Is this page (https://durhamschoolnavigator.org/#/school-new/183/) totally final?

I based by first survey draft on your mock-ups and several items are missing from this page, so I wanted to be sure that this page is absolutel

[2016-09-21 00:13] LASHirsh commented on #336
Hi @basiacoulter. Just saw your note. Yes, in retrospect, it makes sense that the meeting would have been cancelled for City Camp. :-)

@bendte, nice work on the survey/script draft. :-) I see you used a modified/shortened Krug's script for the in-person testing, too. ;-)

For the sake of simplicity, I suggest we work off of your Google doc to complete the draft. What I had put down was actually r

[2016-09-21 00:55] basiacoulter commented on #336
@bendte, I was there until 6:54pm, and @victor-rocha left just a little earlier, so I am not sure how we missed you. The lights were on and we were in the front classroom. But yes, I did not leave the doors open, because there were only the two of us and I did not want anyone to go unnoticed. I guess I assumed anyone would see the lights, peak inside and knock on the window. Sorry about that.

The

[2016-09-21 14:41] bendte commented on #336
@basiacoulter I was basing the survey/usability test questions off of the mock up that you did a few weeks ago and not the actual prototype page. I think it's more that a few items have moved around from the mock up to the prototype (map is now down at the bottom left and isn't loading for me). I'd love to talk through the changes from the mock up to the prototype before the survey/usability testi

[2016-09-21 14:56] basiacoulter commented on #336
Ok, @bendte, it does seem like we need to talk. I had done 3, I think, iterations of mockups (including the hand sketches), and they all had been done before our card sorting exercise. The purpose of the card sorting exercise was to determine the best was of organizing the page's content in a tabulated scenario. I did not make a mockup for that scenario, I jumped directly into coding it. So, I apo

[2016-09-21 15:10] basiacoulter commented on #336
Oh, one more thing. In the card sorting above, we placed location/zoning under At a Glance (that tab is called Overview; I did not get a sense we finalized the wording for the tabs, so this is still an open topic I think). That's what I interpreted as the map. Since the address etc are grouped together with school hours in the original profile page and I did not feel comfortable breaking up inform

[2016-09-21 15:26] basiacoulter commented on #336
And I am really sorry @bendte for any confusion I may have created. Another data point showing why communicating person increases chances of shred understanding :-)

[2016-09-21 17:24] bendte commented on #336
@basiacoulter I think it's all due to Mercury Retrograde (which ends tomorrow, hallelujah)! :) Looking forward to getting together soon to talk everything over in person. The tabs look so great. Excited about everything coming together.

[2016-09-21 18:54] jtf621 commented on #366
@nathanrogers18 any work on when the New Teacher Center will send the data?

[2016-09-21 23:02] nathanrogers18 commented on #366
NTC sent me a data sharing agreement today.

The agreement specifies that we cannot publish any aggregate data on a level lower than school district.

That was not my understanding when I first spoke with New Teacher Center, so I've reached out for clarification, and confirmation that we can aggregate results school level as published on ncteachingconditions.org.

[2016-09-23 15:03] nathanrogers18 commented on #366
Just chatted with NTC.  They confirmed that it is just their boilerplate contract language, and that the intent is for Code for Durham to publish aggregate data on a school level.

The other significant item in the agreement is that we send them a copy of any data we plan to publish 7 days before publishing.  It also seems that this is boilerplate language, and I think a call to their contact woul

[2016-09-23 15:12] jtf621 commented on #366
Thanks. jfreeman@codeforamerica.org.  Let me review the contract.

[2016-09-25 16:41] sarahsba commented on #316
Love it!

On Tue, Sep 20, 2016 at 6:44 PM, basiacoulter <notifications@github.com>
wrote:

[2016-10-02 21:41] basiacoulter commented on #336
@bendte I finally had a chance to look at the document. You did a TERRIFIC job! I think I see the points where information is not on the page. I think it was my fault that in mockups, and maybe even in the card sorting, I did not faithfully use categories of information that the profile page actually currently captures, but the ones we listed during the civic hacking day based on interview respons

[2016-10-04 15:53] npage915 commented on #336
Hey team -

I'm so sorry but I can't come again tonight. This term has been pretty
unreal, however, it's coming to an end (woo!) so hopefully I'll be able to
start showing up regularly again soon. That said, I was thinking that, if
helpful, I could do some user testing with some of the families who are in
school with me (we have a few parents with school-age children) - it could
be a good perspect

[2016-10-04 18:23] bendte commented on #336
Yes, I will be there tonight. See you then!

[2016-10-04 19:02] basiacoulter commented on #336
@npage915 it would be great if you could run some usability testing. I think @bendte, @LASHirsh, and I have to clean up the script and scenarios based on the actual page content, and then it'll be ready to go. When would you be available foe a call with us?

[2016-10-06 21:12] npage915 commented on #336
Hi Basia -

I have a lot of flexibility early next week. Can you let me know a few
times that could work for you?

Thanks!
Nicole

On Tue, Oct 4, 2016 at 3:02 PM, basiacoulter <notifications@github.com>
wrote:

[2016-10-07 02:34] sarahsba opened #374 "Fix Incorrect Content on Sandy Ridge Profile"
Hope things are going well with the project! I was just looking at the Sandy Ridge profile here: https://durhamschoolnavigator.org/#/school/219/ and noticed that it incorrectly says we do not offer extended care. Both before and after school care is available here. Thanks!

[2016-10-07 11:54] victor-rocha commented on #374
The problem is the answers we collected from the survey. Either they skipped over this question or we are doing something wrong. https://durhamschoolnavigator.org/admin/schools/schoolprofile/205/

[2016-10-07 22:34] basiacoulter commented on #336
@npage915 Do you think you'll be able to come to the next Meetup? We have finalized the survey and usability test scenarios but there is still work to be done before we can actually do the testing, so if you were planning to be at the meetup on 10/18, we could talk then. Next week is a bit busy for me. But if you're not able to be there on the 18th, I might be able to talk to you on Wed evening. L

[2016-10-08 14:59] sarahsba commented on #374
Did you update the response in the profile?  It looks right now.  It also
seems that no one has completed the survey yet for Sandy Ridge, so it may
have been automatically populated incorrectly from the start.

Is the default for zoned and magnet schools that they DO provide before and
after care?  I believe it should be.

On Fri, Oct 7, 2016 at 7:54 AM, Victor Rocha <notifications@github.com>
wro

[2016-10-08 16:49] victor-rocha commented on #374
I fixed it last night. Yes, I am pretty sure the default is that they do not offer before and after care. We need to go through all the schools that have not submitted their survey and fix their before and after care offerings.

[2016-10-08 18:24] sarahsba commented on #374
That would make sense.  The default for charters should be blank and should
be "yes" to before and after care for magnets and zoned schools.

On Sat, Oct 8, 2016 at 12:49 PM, Victor Rocha <notifications@github.com>
wrote:

[2016-10-18 21:25] alexlemann commented on #293
Todo:
* [ ] Add a new field to the School model
* [ ] Create migration for the field
* [ ] Manually add schools from here: https://ncteachingconditions.org/results
* [ ] Fix the templates

[2016-10-18 21:55] #339 closed

[2016-10-18 22:13] #287 closed

[2016-10-30 17:01] vinvasir commented on #293
@victor-rocha @alexlemann

I just started a new branch. So far I've just added the teacher_satisfaction_survey field as a URLField that can be null. Will make a new commit for the migration.

[2016-10-30 17:02] victor-rocha commented on #293
+1

[2016-10-30 17:05] vinvasir commented on #293
The branch is called "pv-school-survey-field"

[2016-10-30 17:43] vinvasir commented on #293
Ran the migrations and didn't get any complaints from the Django console or Travis CI! Pull request located [here](https://github.com/codefordurham/school-navigator/pull/375).

Also happy to help with the data entry and template-fixing parts of the issue.

[2016-11-01 23:30] LASHirsh opened #376 "Accessibility Testing"
Ensure the site meets basic web content accessibility guidelines (WCAG 2.0).

See https://www.w3.org/TR/WCAG20/
and http://webaim.org/standards/wcag/

- [ ] Run WebAim's WAVE tool on main pages and sample profile
- [ ] Analyze color contrast using browser tool

[2016-11-02 00:00] flowersw opened #377 "Change School model name "type" to something other than a Python keyword"
Check in Schools/models.py

[2016-11-15 23:21] alexlemann opened #378 "Email text editor"
A way to send different email language in a survey. Maybe a email template model with text that gets linked to the survey when it is sent out.

[2016-11-15 23:21] alexlemann opened #379 "User survey response rate report"
What fields are missing? Who's opened the survey. Are schools missing fields?

[2016-11-16 00:32] npage915 opened #380 "Map in sample profile page does not work"
While doing usability testing in the page w/ UX design, the map feature does not work (on the bottom left).

https://durhamschoolnavigator.org/#/school-new/247/

Can you take a look @vrocha ?

Thanks!
Nicole

[2016-11-30 00:55] basiacoulter opened #382 "School profile page (new): Increase text size and line height"
- This pertains to the new school profile page: https://durhamschoolnavigator.org/#/school-new/247/
- Increase text size to at least 16px, and line height of 24px (or the corresponding values if expressed in other units; the ratio of text size to line height should be 1/1.5).
- Consider if this needs to be a site-wide adjustment.

[2016-12-01 01:03] jtf621 opened #383 "Add linkey filter to details.html"
Based on feedback from School for Creative studies profile.

Test it on https://durhamschoolnavigator.org/#/school/218/
- Academically & Intellectually Gifted:  {{ school.profile.gifted_education }}
- Our Theme: {{ school.profile.other_academic }}
- data-ng-show="school.profile.points_of_pride1" {{ school.profile.points_of_pride1 }}
- data-ng-show="school.profile.points_of_pride2" {{ school.profil

[2016-12-02 00:59] jtf621 opened #384 "Due Date is confusing -- allow changes until midnight on the due date"
Currently the due data for profile surveys is listed as a day, but the due date is a datetime that ends before midnight on the due date.

[2016-12-13 22:41] basiacoulter opened #385 "School profile page (new): implement h3 under each tab"
- Change the heading (bolded) text under each tab to be "h3" element

[2016-12-13 22:46] basiacoulter opened #386 "School profile page (new): unify spacing between sections under each tab"
- This pertains to the new school profile page: https://durhamschoolnavigator.org/#/school-new/247/
- The spacing between sections under each tab should help users distinguish between them; currently some of the sections have less space separating them from other sections and it's hard to make sense of which content goes with which section.

[2016-12-13 22:53] basiacoulter opened #387 "School profile page: change "Applying" to "Applying to school""
- Under the first tab, change the section name from "Applying" to "Applying to school"

[2016-12-13 22:56] basiacoulter opened #388 "Top navbar: create a current state for nav items"
- Write a current state for each top navbar item
- The school profile page should be under "Schools," so "Schools" should be the current page for the school profile page

[2016-12-13 22:59] basiacoulter opened #389 "Top navbar: add subtle drop shadow"
- Add a subtle drop shadow to the top navbar to make it more obvious that it is a an overarching navigation for the entire site

[2016-12-13 23:14] basiacoulter opened #390 "School profile page (new): Redesign the hero"
This still requires some design to incorporate the adjustments listed below
- Bring back the school image in the hero (maybe crop it to a shield shape) - somehow reinforce the school category in the image appearance
- Maybe make the image open in a lightbox or similar
- Have a placeholder image for schools that did not provide one
- Keep a background of sorts in the hero
- Emphasize the link to th

[2016-12-22 02:29] sarahsba opened #391 "Correct incorrect information on the Sandy Ridge profile"
Our point of contact at Sandy Ridge sent me the attached corrections to their profile.  She has been an advocate of the site, and we don't want to lose her.  It'd be great if someone could make these changes asap.

![image](https://cloud.githubusercontent.com/assets/12042430/21413311/4bca8c84-c7c4-11e6-9d8f-e5bce19cf230.png)

![image](https://cloud.githubusercontent.com/assets/12042430/21413318/54

[2017-01-02 22:32] basiacoulter opened #394 "Refactor school profile page CSS to remove the .new-prototype class"
@vrocha @alexlemann Can we assume that we will not be returning to the original profile page? If so, I'd like to get rid of the .new-prototype class that only served to overwrite the page's styles, and refactor the page's styles to reflect the new design.